@model Fast.Web.Models.ChecklistReportModel
@using Fast.Web.Resources;
@using Newtonsoft.Json;

@{ 
    Model.Charts = new List<Fast.Web.Models.ChecklistChartModel>();
    var Colors = new List<string>();
    Colors.Add("560bd0");
    Colors.Add("007bff");
    Colors.Add("00cccc");
    Colors.Add("10b759");
    Colors.Add("dc3545");
    Colors.Add("ffc107");
    Colors.Add("00cccc");
    Colors.Add("00cccc");
    Colors.Add("00cccc");
    Colors.Add("00cccc");
    Colors.Add("00cccc");
    Colors.Add("00cccc");
    Colors.Add("00cccc");
    Colors.Add("00cccc");
    Colors.Add("00cccc");
    Colors.Add("00cccc");
    Colors.Add("00cccc");
    Colors.Add("00cccc");
}

@section CSS_lib{
    <link href="~/Content/dashforge/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/dashforge/lib/morris.js/morris.css" rel="stylesheet" />
}

@section Styles{
    <style>

        .table th, .table td {
            /*vertical-align: middle;*/
        }

        input.barcode-check:focus {
            background-color: #ffe7a0;
        }
    </style>
}

<div class="content content-fixed" style="min-width: 1290px !important;">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Fast</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Checklist")">CMS Checklist</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Report</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">Report for [@(Model.Checklist.MenuTitle)] @Model.Checklist.Header</h4>
            </div>
            <div class="d-none d-md-block">
                <a class="btn btn-sm pd-x-15 btn-primary btn-uppercase" href="@Url.Action("GenerateExcel", "Checklist")/@(new Uri(Context.Request.Url.ToString()).Segments.Last())"><i data-feather="plus" class="wd-10 mg-r-5"></i> Export to Excel</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mg-t-10">
                <div class="card">
                    <div class="card-header">
                         @using (Html.BeginForm("Report", "Checklist", FormMethod.Post, new { @class="preventDoubleSubmission", @autocomplete = "false", encType = "multipart/form-data" }))
                         {
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <select name="location1" class="form-control selection-location">
                                    <option value="">All Locations</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <select name="location2" class="form-control selection-department">
                                    <option value="">All Department</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-2">
                                <select name="location3" class="form-control selection-subdepartment">
                                    <option value="">All Sub Department</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 align-items-end">
                                <div class="input-group">
                                    <input id="dateFrom" value="@(ViewBag.DateFrom.ToString("dd-MMM-yy"))" name="dateFrom" type="text" class="form-control hasDatepicker" placeholder="Start Date" />
                                    <input id="dateTo" value="@(ViewBag.DateTo.ToString("dd-MMM-yy"))" name="dateTo" type="text" class="form-control hasDatepicker" placeholder="End Date" />
                                </div>
                            </div>
                            <div class="form-group col-md-1">
                                <select name="shift" class="form-control">
                                    <option value="" selected>All Shift</option>
                                    <option value="s1">Shift 1</option>
                                    <option value="s2">Shift 2</option>
                                    <option value="s3">Shift 3</option>
                                    <option value="ls1">LongShift 1</option>
                                    <option value="ls2">LongShift 2</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2 text-right">
                                <button type="submit" class="btn btn-primary" id="generate">Generate Report</button>
                            </div>
                        </div>
                         }
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                <td></td>
                                @{ var temp = ""; List<string> date = new List<string>();  }
                                @foreach (var item in Model.ReportItems)
                                {
                                    if (temp != item.Date + item.User)
                                    {
                                        temp = item.Date + item.User;
                                        date.Add(item.Date);

                                        <td>@item.Date</td>
                                    }
                                }
                            </tr>
                            <tr>
                                <td></td>
                                @{ temp = ""; List<string> user = new List<string>(); }
                                @foreach (var item in Model.ReportItems)
                                {
                                    if (temp != item.Date + item.User)
                                    {
                                        temp = item.Date + item.User;
                                        user.Add(item.User);

                                        <td>@item.User</td>
                                    }
                                }
                            </tr>
                            @for (var i = 0; i < Model.Header.Count(); i++)
                            {
                                <tr>
                                    <td>@Model.Header[i]</td>

                                    @for(var j = 0; j < date.Count(); j++)
                                    {
                                        string lala = "<td></td>";
                                        foreach (var item in Model.ReportItems)
                                        {
                                            if (Model.Header[i] == item.Header && date[j] == item.Date && user[j] == item.User)
                                            {
                                                float value = item.YesOn * 10000 / item.Counter;
                                                value = value / 100;
                                                item.Percentage = value;

                                                lala = "<td>"+value+"</td>";
                                            }
                                        }

                                        @Html.Raw(lala);
                                    }
                                </tr>
                            }
                        </table>

                        <table class="table table-bordered mg-t-30">
                            <tr>
                                <td>AVERAGE</td>
                                @for (var i = 0; i < Model.Header.Count(); i++)
                                {
                                    <td>@Model.Header[i]</td>
                                }
                            </tr>
                            @{
                                var dates = Model.ReportItems.Select(x => x.Date).Distinct().ToList();
                            }

                            @for (var i = 0; i < dates.Count(); i++)
                            {
                                Model.Charts.Add(new Fast.Web.Models.ChecklistChartModel());

                                Model.Charts[i].Date = dates[i];
                                Model.Charts[i].Average = new List<double>();

                                <tr>
                                    <td>@dates[i]</td>
                                    @for (var j = 0; j < Model.Header.Count(); j++)
                                    {
                                        var average = Model.ReportItems.Where(x => x.Header == Model.Header[j] && x.Date == dates[i]).ToList();
                                        double percentage = 0;
                                        if (average.Count() > 0)
                                        {
                                            percentage = Math.Round((Double)average.Average(x => x.Percentage), 2);
                                        } 
                                        Model.Charts[i].Average.Add(percentage);

                                        <td>@percentage</td>
                                    }
                                </tr>
                            }
                        </table>
                    </div>
                    <div class="card-footer">
                        <div id="morrisBar" class="ht-300"></div>
                    </div>
                </div>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!-- content -->

<div id="jsonLocationTree" data-json='@Html.Raw(JsonConvert.SerializeObject(ViewBag.LocationTree))' />

@section Scripts{
    <script src="~/Content/dashforge/lib/select2/js/select2.min.js"></script>
    <script src="~/Content/dashforge/lib/raphael/raphael.min.js"></script>
    <script src="~/Content/dashforge/lib/morris.js/morris.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.hasDatepicker').datepicker({
                format: 'd-M-yy'
            });

            var morrisData2 = [

                @{
                    foreach(var chart in Model.Charts)
                    {
                        @Html.Raw("{ y: '"+chart.Date+"',")

                        for(var i = 0; i < Model.Header.Count(); i++)
                        {
                            @Html.Raw(i+": "+chart.Average[i]+",")
                        }
                        @Html.Raw("},")
                    }
                }

                //{ y: '2006', a: 100, b: 90, c: 80 },
            ];

            new Morris.Bar({
                element: 'morrisBar',
                data: morrisData2,
                xkey: 'y',

                 @{
                    @Html.Raw("ykeys: [")
                     for(var i = 0; i < Model.Header.Count(); i++)
                     {
                         if (i == Model.Header.Count() - 1)
                         {
                             @Html.Raw("'"+i+"'")
                         } else
                         {
                             @Html.Raw("'"+i+"',")
                         }
                    }
                    @Html.Raw("],")
                }

            @{
                    @Html.Raw("labels: [")
                    for(var i = 0; i < Model.Header.Count(); i++)
                    {
                         if (i == Model.Header.Count() - 1)
                         {
                             @Html.Raw("'"+Model.Header[i]+"'")
                         } else
                         {
                             @Html.Raw("'"+Model.Header[i]+"',")
                         }
                    }
                    @Html.Raw("],")
                }

                @{
                    @Html.Raw("barColors: [")
                    for(var i = 0; i < Model.Header.Count(); i++)
                    {
                         if (i == Model.Header.Count() - 1)
                         {
                             @Html.Raw("'#"+Colors[i]+"'")
                         } else
                         {
                             @Html.Raw("'#"+Colors[i]+"',")
                         }
                    }
                    @Html.Raw("],")
                }

                //ykeys: ['a', 'b', 'c'],
                //labels: ['Series A', 'Series B', 'Series C'],
                //barColors: ['#560bd0', '#007bff', '#00cccc'],
                gridLineColor: '#e5e9f2',
                gridStrokeWidth: 1,
                gridTextSize: 11,
                hideHover: 'auto',
                resize: true
            });


            /******************************* LOCATION TANPA AJAX *********************************/

            var LocationTree = JSON.parse($("#jsonLocationTree").attr("data-json"));

            console.log(LocationTree);

            var select_locat = $('select.selection-location');
            select_locat.append('<option>All Locations</option>');

            for (var i = 0; i < LocationTree.ProductionCenters.length; i++) {
                select_locat.append('<option value=' + LocationTree.ProductionCenters[i].LocationID + '>' + LocationTree.ProductionCenters[i].Description + '</option>')
            }

            $('.selection-location').select2({
                placeholder: 'All Locations',
                searchInputPlaceholder: 'Search options'
            });
            $('.selection-department, .selection-subdepartment').select2();

            var locat_selected;
            $(document).on("change", ".selection-location", function () {
                locat_selected = $(this).select2("val");
                console.log(locat_selected);

                $('.selection-department').select2('destroy');
                $('.selection-subdepartment').select2('destroy');
                $('.selection-department').empty();
                $('.selection-subdepartment').empty();

                var select_depart = $('select.selection-department');
                select_depart.append('<option label="Choose "></option>');

                for (var i = 0; i < LocationTree.ProductionCenters.length; i++) {
                    if ($.inArray(LocationTree.ProductionCenters[i].LocationID.toString(), locat_selected) >= 0) {
                        select_depart.append('<optgroup label="' + LocationTree.ProductionCenters[i].Description + '">')
                        for (var j = 0; j < LocationTree.ProductionCenters[i].Departments.length; j++) {
                            select_depart.append('<option value=' + LocationTree.ProductionCenters[i].Departments[j].LocationID + '>' + LocationTree.ProductionCenters[i].Code + "-" + LocationTree.ProductionCenters[i].Departments[j].Description + '</option>')
                        }
                        select_depart.append('</optgroup>')
                    }
                }

                $('.selection-department').select2({
                    placeholder: 'All Departments',
                    searchInputPlaceholder: 'Search options'
                });
                $('.selection-subdepartment').select2();
            });

            $(document).on("change", ".selection-department", function () {
                var department_selected = $(this).select2("val");
                console.log(department_selected);

                $('.selection-subdepartment').select2('destroy');
                $('.selection-subdepartment').empty();

                var select_subdepart = $('select.selection-subdepartment');
                select_subdepart.append('<option label="Choose "></option>');

                for (var i = 0; i < LocationTree.ProductionCenters.length; i++) {
                    if ($.inArray(LocationTree.ProductionCenters[i].LocationID.toString(), locat_selected) >= 0) {
                        for (var j = 0; j < LocationTree.ProductionCenters[i].Departments.length; j++) {
                            if ($.inArray(LocationTree.ProductionCenters[i].Departments[j].LocationID.toString(), department_selected) >= 0) {
                                select_subdepart.append('<optgroup label="' + LocationTree.ProductionCenters[i].Description + " - " + LocationTree.ProductionCenters[i].Departments[j].Description + '">')
                                for (var k = 0; k < LocationTree.ProductionCenters[i].Departments[j].SubDepartments.length; k++) {
                                    select_subdepart.append('<option value=' + LocationTree.ProductionCenters[i].Departments[j].SubDepartments[k].LocationID + '>' + LocationTree.ProductionCenters[i].Code + "-" + LocationTree.ProductionCenters[i].Departments[j].Code + "-" + LocationTree.ProductionCenters[i].Departments[j].SubDepartments[k].Description + '</option>')
                                }
                                select_subdepart.append('</optgroup>')
                            }
                        }
                    }
                }

                $('.selection-subdepartment').select2({
                    placeholder: 'All Sub Departments',
                    searchInputPlaceholder: 'Search options'
                });
            });
        });

    </script>
}