@model Fast.Web.Models.TrainingModel
@using Fast.Web.Resources;

@using (Html.BeginForm("Edit", "Training", FormMethod.Post, new { @class = "form-horizontal", @id = "ModalForm" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(x => x.ID, new { @Id = "ID" })
	<div class="modal-header pd-y-20 pd-x-20 pd-sm-x-50">
		<a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</a>
		<div class="media align-items-center">
			<span class="tx-color-03 d-none d-sm-block"><i class="fa fa-edit" style="font-size:48px;"></i></span>
			<div class="media-body mg-sm-l-20">
				<h4 class="tx-18 tx-sm-20 mg-b-2">@UIResources.EditTraining</h4>
				<p class="tx-13 tx-color-03 mg-b-0">@UIResources.FillAllRequiredFields</p>
			</div>
		</div><!-- media -->
	</div><!-- modal-header -->

	<div class="modal-body pd-sm-t-20 pd-sm-b-20 pd-sm-x-30">
		<div class="row row-sm mg-b-10">
			<div class="col-sm-6">
				<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.EmployeeID</label>
				@Html.TextBoxFor(x => x.EmployeeID, null, new { @class = "form-control", @id = "tbEmpID", @readonly = true })
			</div>
			<div class="col-sm-6">
				<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.FullName</label>
				@Html.TextBoxFor(x => x.FullName, null, new { @class = "form-control", @id = "tbFullName", @readonly = true })
			</div>
		</div>
		<div class="row row-sm mg-b-10">
			<div class="col-sm-6">
				<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.TrainingTitle</label>
				@Html.TextBoxFor(p => p.TrainingTitle, null, new { @class = "form-control", @id = "tbTrainingTitle", @readonly = true })
			</div>
			<div class="col-sm-6">
				<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.MachineType<</label>
				@Html.DropDownListFor(x => x.MachineTypeID, (IEnumerable<SelectListItem>)ViewBag.MachineTypeList, new { @class = "form-control", @id = "ddlMachineType" })
			</div>
		</div>		
	</div><!-- modal-body -->

	<div class="modal-footer pd-x-20 pd-y-15">
		<button type="button" class="btn btn-white" data-dismiss="modal">@UIResources.Cancel</button>
		<button type="submit" class="btn btn-primary">@UIResources.Save</button>
	</div>
}