@model Fast.Web.Models.UserModel
@using Fast.Web.Resources;

<link href="~/Content/dashforge/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
<link href="~/Content/theme/css/jquery-ui-1.9.2.css" rel="stylesheet" />
<style>
	.fixedHeight {
		font-size: 14px;
		max-height: 300px;
		margin-bottom: 10px;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.ui-helper-hidden-accessible {
		display: none;
	}
</style>

@using (Html.BeginForm("Edit", "User", FormMethod.Post, new { @class = "form-horizontal", @id = "ModalForm" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(x => x.ID, new { @Id = "ID" })
	@Html.HiddenFor(x => x.EmployeeID, new { @Id = "EmployeeID" })
	@Html.HiddenFor(x => x.UserName, new { @Id = "UserName" })
	<div class="modal-header pd-y-20 pd-x-20 pd-sm-x-50">
		<a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</a>
		<div class="media align-items-center">
			<span class="tx-color-03 d-none d-sm-block"><i class="fa fa-edit" style="font-size:48px;"></i></span>
			<div class="media-body mg-sm-l-20">
				<h4 class="tx-18 tx-sm-20 mg-b-2">@UIResources.EditUser</h4>
				<p class="tx-13 tx-color-03 mg-b-0">@UIResources.FillAllRequiredFields</p>
			</div>
		</div><!-- media -->
	</div><!-- modal-header -->

	<div class="modal-body pd-sm-t-20 pd-sm-b-20 pd-sm-x-30">
		<div class="row row-sm mg-b-10">
			<div class="flex-1 row">
				<div class="col-4">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.EmployeeID</label>
				</div>
				<div class="col-8">
					@Html.TextBoxFor(x => x.EmployeeID, null, new { @class = "form-control", @id = "txtEmpID", @disabled = "disabled" })
				</div>
			</div>
			<div class="flex-1 row">
				<div class="col-4">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.Country</label>
				</div>
				<div class="col-8">
					@Html.DropDownListFor(x => x.CountryID, (IEnumerable<SelectListItem>)ViewBag.CountryList, new { @class = "form-control", @id = "ddlCountry" })
				</div>
			</div>
		</div>
		<div class="row row-sm mg-b-10">
			<div class="flex-1 row">
				<div class="col-4">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.Username</label>
				</div>
				<div class="col-8">
					@Html.TextBoxFor(x => x.UserName, null, new { @class = "form-control", @id = "txtUserName", @disabled = "disabled" })
				</div>
			</div>
			<div class="flex-1 row">
				<div class="col-4">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.ProdCenter</label>
				</div>
				<div class="col-8">
					@Html.DropDownListFor(x => x.ProdCenterID, (IEnumerable<SelectListItem>)ViewBag.ProductionCenterList, new { @class = "form-control", @id = "ddlProdCenter" })
				</div>
			</div>
		</div>
		<div class="row row-sm mg-b-10">
			<div class="flex-1 row">
				<div class="col-4">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.JobTitle</label>
				</div>
				<div class="col-8">
					@if (@Model.IsOS)
					{
						@Html.DropDownListFor(x => x.JobTitleID, (IEnumerable<SelectListItem>)ViewBag.JobTitleList, new { @class = "form-control", @id = "ddlUserType" })
					}
					else
					{
						@Html.DropDownListFor(x => x.JobTitleID, (IEnumerable<SelectListItem>)ViewBag.JobTitleList, new { @class = "form-control", @id = "ddlUserType", @disabled = "disabled" })
					}
				</div>
			</div>
			<div class="flex-1 row">
				<div class="col-4">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.Department</label>
				</div>
				<div class="col-8">
					@Html.DropDownListFor(x => x.DepartmentID, (IEnumerable<SelectListItem>)ViewBag.DepartmentList, new { @class = "form-control", @id = "ddlDepartment" })
				</div>
			</div>
		</div>
		<div class="row row-sm mg-b-10">
			<div class="flex-1 row">
				<div class="col-4">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.Status</label>
				</div>
				<div class="col-8">
					@Html.DropDownListFor(x => x.IsActive, (IEnumerable<SelectListItem>)ViewBag.UserStatusList, new { @class = "form-control", @id = "ddlStatus" })
				</div>
			</div>
			<div class="flex-1 row">
				<div class="col-4">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.SubDepart</label>
				</div>
				<div class="col-8">
					@Html.DropDownListFor(x => x.SubDepartmentID, (IEnumerable<SelectListItem>)ViewBag.SubDepartmentList, new { @class = "form-control", @id = "ddlSubDepartment" })
				</div>
			</div>
		</div>
		<div class="row row-sm mg-b-10">
			<div class="flex-1 row">
				<div class="col-4">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.GroupType</label>
				</div>
				<div class="col-8">
					@Html.DropDownListFor(x => x.GroupType, (IEnumerable<SelectListItem>)ViewBag.GroupTypeList, new { @class = "form-control", @id = "ddlGroupType" })
				</div>
			</div>
			<div class="flex-1 row">
				<div class="col-4">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03" id="gNameLabel">@UIResources.GroupName</label>
				</div>
				<div class="col-8">
					@Html.DropDownListFor(x => x.GroupName, (IEnumerable<SelectListItem>)ViewBag.GroupNameList, new { @class = "form-control", @id = "ddlGroupName" })
				</div>
			</div>
		</div>
		<div class="row row-sm mg-b-10">
			<div class="flex-1 row">
				<div class="col-4">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.Supervisor</label>
				</div>
				<div class="col-8">
					@Html.TextBoxFor(x => x.SupervisorName, null, new { @class = "form-control", @id = "tbSupervisorName", @placeholder = "Type spv id or name...", @onkeypress = "return blockSpecialChar(event)" })
				</div>
			</div>
			@if (Model.Access.IsAdmin)
			{
				<div class="flex-1 row">
					<div class="col-4">
						<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.IsAdmin</label>
					</div>
					<div class="col-8">
						@Html.DropDownListFor(x => x.IsAdmin, (IEnumerable<SelectListItem>)ViewBag.UserAdminList, new { @class = "form-control", @id = "ddlAdminStatus" })
					</div>
				</div>
			}
			else
			{
				<div class="flex-1 row">
					<div class="col-4">
						@Html.HiddenFor(x => x.IsAdmin, new { @Id = "IsAdmin" })
					</div>
					<div class="col-8">
					</div>
				</div>
			}
		</div>
		@if (!@Model.IsOS)
		{
			<div class="row row-sm mg-b-10">
				<div class="flex-1 row">
					<div class="col-4">
						<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.Canteen</label>
					</div>
					<div class="col-8">
						@Html.DropDownListFor(x => x.CanteenID, (IEnumerable<SelectListItem>)ViewBag.CanteenList, new { @class = "form-control", @id = "ddlCanteen" })
					</div>
				</div>
				<div class="flex-1 row">
					<div class="col-4">

					</div>
					<div class="col-8">
					</div>
				</div>
			</div>
		}
		<div class="row row-sm mg-b-10">
			<div class="flex-1 row" style="display:none">
				<div class="col-12">
					@Html.TextBoxFor(x => x.SupervisorID, null, new { @class = "form-control", @id = "tbSupervisorID" })
				</div>
			</div>
			<div class="flex-1 row">
				<div class="col-4">
				</div>
				<div class="col-8">
					<p id="empty-message"></p>
				</div>
			</div>
		</div>
	</div><!-- modal-body -->

	<div class="modal-footer pd-x-20 pd-y-15">
		<button type="button" class="btn btn-white" data-dismiss="modal" onclick="OnCancel()">@UIResources.Cancel</button>
		<button type="submit" class="btn btn-primary">@UIResources.Save</button>
	</div>
}

<script src="~/Content/theme/js/jquery-1.10.0.min.js"></script>
<script src="~/Content/theme/js/jquery-ui-1.9.2.min.js"></script>
<script type="text/javascript">
	$(document).ready(function () {

		$('#tbSupervisorName').keyup(function () {
			if ($("#tbSupervisorName").val() == '') {
				$("#empty-message").text("");
			}
		});

		$("#tbSupervisorName").autocomplete({
			delay: 750,
			source: function (request, response) {
				$.ajax({
					url: fastApp.BaseUrl + '/User/AutoCompleteSpv/',
					data: "{ 'prefix': '" + request.term + "'}",
					dataType: "json",
					type: "POST",
					contentType: "application/json; charset=utf-8",
					success: function (data) {
						if (data.length == 0) {
							$("#empty-message").css('color', 'red');
							$("#empty-message").text("Data does not exist in Employee List");
						} else {
							$("#empty-message").text("");
							response($.map(data, function (item) {
								return $.trim(item.EmployeeID) + " - " + item.FullName;
							}))
						}
					},
					error: function (response) {
						alert(response.responseText);
					},
					failure: function (response) {
						alert(response.responseText);
					}
				});
			},
			select: function (e, i) {
				var res = i.item.label.split(" - ");
				if (res[0]) {
					$("#tbSupervisorID").val(res[0]);
				}
				if (res[1]) {
					$("#tbSupervisorName").val(res[1]);
				}
			},
			minLength: 1
		});

		$("#tbSupervisorName").autocomplete("widget").addClass("fixedHeight");

		$('#ddlCountry').change(function () {
			$.ajax({
				type: "post",
				url: fastApp.BaseUrl + "/User/GetProductionCenterByCountryID",
				data: { id: $('#ddlCountry').val() },
				datatype: "json",
				traditional: true,
				success: function (data) {
					var ddlTemp = "<select id='ddlProdCenter'>";
					for (var i = 0; i < data.length; i++) {
						ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
					}
					ddlTemp = ddlTemp + '</select>';
					$('#ddlProdCenter').html(ddlTemp);
					$('#ddlDepartment').html("<select id='ddlDepartment'><option value='0'>- Please Select -</option></select>");
					$('#ddlSubDepartment').html("<select id='ddlSubDepartment'><option value='0'>- Please Select -</option></select>");
				}
			});
		});

		$('#ddlProdCenter').change(function () {
			$.ajax({
				type: "post",
				url: fastApp.BaseUrl + "/User/GetDepartmentByProdCenterID",
				data: { id: $('#ddlProdCenter').val() },
				datatype: "json",
				traditional: true,
				success: function (data) {
					var ddlTemp = "<select id='ddlDepartment'>";
					for (var i = 0; i < data.length; i++) {
						ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
					}
					ddlTemp = ddlTemp + '</select>';
					$('#ddlDepartment').html(ddlTemp);
					$('#ddlSubDepartment').html("<select id='ddlSubDepartment'><option value='0'>- Please Select -</option></select>");
				}
			});
		});

		$('#ddlDepartment').change(function () {
			$.ajax({
				type: "post",
				url: fastApp.BaseUrl + "/User/GetSubDepartmentByDepartmentID",
				data: { id: $('#ddlDepartment').val() },
				datatype: "json",
				traditional: true,
				success: function (data) {
					var ddlTemp = "<select id='ddlSubDepartment'>";
					for (var i = 0; i < data.length; i++) {
						ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
					}
					ddlTemp = ddlTemp + '</select>';
					$('#ddlSubDepartment').html(ddlTemp);
				}
			});
		});

		if ($('#ddlGroupType').val() == "NS") {
			$('#gNameLabel').hide();
			$('#ddlGroupName').hide();
		}

		$('#ddlGroupType').change(function () {
			if ($('#ddlGroupType').val() == "NS") {
				$('#gNameLabel').hide();
				$('#ddlGroupName').hide();
				$('#ddlGroupName').val('');
			} else {
				$('#gNameLabel').show();
				$('#ddlGroupName').show();
			}
		})
	});

	function OnCancel() {
		window.location.href = fastApp.BaseUrl + '/User/Index';
	};
</script>
