@model Fast.Web.Models.LPH.LPHEditModel
@using Fast.Web.Resources;
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Submitted CasePacker";
}

@* chanif: tambah css untuk select2 *@
@section CSS_lib{
    <link href="~/Content/dashforge/lib/select2/css/select2.min.css" rel="stylesheet">
}

@section Styles{
    <style>
        .tableWrapper {
            position: relative;
            overflow: auto;
            max-height: 150px;
            transform: translateZ(0);
        }

            .tableWrapper table {
                border-collapse: collapse;
                width: 100%;
            }

            .tableWrapper thead th, .tableWrapper thead td {
                position: sticky;
                background: #066fcb;
                z-index: 100;
                border: none;
            }

            .tableWrapper table tfoot td {
                position: sticky;
                bottom: 0;
                z-index: 100;
            }

            .tableWrapper .input td {
                background: white;
            }

            .tableWrapper .summary-body td {
                font-weight: bold;
                background-color: #d8eafe;
                color: #000;
            }

        .fa {
            padding: 5px;
            cursor: pointer;
        }

        .fas {
            cursor: pointer;
        }

        .input-img {
            width: 100%;
            height: 150px;
            object-fit: cover;
        }

        .input-img-card {
            margin-left: 5px;
            margin-right: 5px;
        }

        .modal-body {
            position: relative;
            margin-top: 10px;
        }

            .modal-body .close {
                padding: 5px;
                position: absolute;
                top: -5px;
                right: 5px;
                font-size: 15px;
                color: black;
                z-index: 1000;
            }

        .stepper {
            position: relative;
        }

            .stepper:before {
                top: 15px;
                bottom: 0;
                position: absolute;
                content: " ";
                width: 100%;
                height: 1px;
                background: #f1f1f1;
                z-index: 0;
            }


        .stepper-step {
            text-align: center;
            position: relative;
        }

            .stepper-step.active .stepper-btn {
                background: #37b6fa;
                color: white;
                font-weight: 500;
                border: 0
            }

        .stepper-btn {
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 6px 0;
            font-size: 12px;
            line-height: 1.428571429;
            border-radius: 15px;
            background: #e6e6e6;
            color: #9c9c9c;
        }

        .wizard-button {
            margin: 5px;
        }

            .wizard-button.active {
                filter: brightness(0.75);
            }

        /* chanif: tolong tambahkan css dari sini sampai bawah untuk memperbaiki tampilan select2 */
        .select2-container--default .select2-selection--single {
            height: 25px;
            min-height: 25px;
        }

        .select2-container--default .select2-selection--multiple {
            min-height: 25px;
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            display: none;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            font-size: 13px;
            padding: 5px;
        }

        .select2-container--default .select2-selection--multiple .select2-selection__rendered {
            font-size: 13px;
            padding: 0 0 0 5px;
        }

        .select2-search--dropdown {
            padding: 1px;
        }

        .select2-container--default .select2-search--dropdown .select2-search__field {
            padding: 3px 5px;
        }

        .select2-results {
            font-size: 13px;
        }

        .select2-results__option {
            padding: 3px;
        }

        table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
            background-color: transparent
        }

        .select2-container--default .select2-search--inline .select2-search__field {
            margin-top: 0;
            padding: 0;
        }

        .select2-results__option[aria-selected=true] {
            display: none;
        }

        #generalInfo label {
            padding-right: 0;
        }
    </style>
}


<div class="content content-fixed lph-form">
    <div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
            <div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb breadcrumb-style1 mg-b-10">
                        <li class="breadcrumb-item"><a href="#">LPH Form</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Case Packer</li>
                    </ol>
                </nav>
                <h4 class="mg-b-0 tx-spacing--1">@Html.Raw(ViewBag.PageHeader)</h4>
            </div>
            <div class="d-none d-md-block">
                <button id="goPrev" class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5"><i data-feather="chevron-left" class="wd-10 mg-r-5"></i> Prev</button>
                <button class="btn btn-sm pd-x-15 btn-white btn-uppercase mg-l-5" onclick="javascript:window.print()"><i data-feather="printer" class="wd-10 mg-r-5"></i> Print</button>
            </div>
        </div>

        <div class="row">
            <!-- chanif: mending langsung kopi saja keseluruhan isi div di bawah ini, karena sepertinya sama semua isinya untuk semua LPH  -->
            <div class="col-12 mg-b-20">
                <div class="card" id="generalInfo">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">Information</div>
                    <div class="card-body d-flex">
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-3 col-form-label">Date</label>
                                <div class="col-5">
                                    <input type="text" class="form-control" disabled id="txtDateInfo" value="">
                                </div>
                                <label class="col-2 col-form-label tx-right pd-r-0-f">Week</label>
                                <div class="col-2">
                                    <input type="text" class="form-control" disabled id="txtWeekNumber" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label" style="padding-right: 3px;">Machine *</label>
                                <div class="col-4">
                                    <select class="form-control select2 mandatory" id="machInfo">
                                        <option value="">Select Machine</option>
                                        @foreach (Fast.Web.Models.MachineModel machine in ViewBag.Machines)
                                        {
                                            <option value="@(machine.Code)">@(machine.Code)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-3 col-form-label" style="padding-right: 3px;">Brand *</label>
                                <div class="col-9">
                                    <select class="form-control select2 mandatory" id="brandInfo">
                                        <option value="">Select Brand</option>
                                        @foreach (Fast.Web.Models.ReferenceDetailModel brand in ViewBag.Brand)
                                        {
                                            <option value="@(brand.Code)">[@(brand.Code)] @brand.Description</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="divider-text divider-vertical"></div>
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-3 col-form-label" style="padding-right: 3px;">Prodtech*</label>
                                <div class="col-8">
                                    <select class="form-control select2 mandatory" id="prodTech" multiple>

                                        @foreach (Fast.Web.Models.EmployeeModel employee in ViewBag.Prodtechs)
                                        {
                                            <option value="@(employee.EmployeeID)">[@(employee.EmployeeID)] @employee.FullName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            @*<div class="form-group row">
                                    <label class="col-3 col-form-label">Foreman</label>
                                    <div class="col-8">
                                        <select class="form-control select2 mandatory" id="foreman">
                                            <option value="">Select Foreman</option>
                                            @foreach (Fast.Web.Models.EmployeeModel employee in ViewBag.Foremans)
                                            {
                                                <option value="@(employee.EmployeeID)">[@(employee.EmployeeID)] @employee.FullName</option>
                                            }
                                        </select>
                                    </div>
                                </div>*@
                            <div class="form-group row">
                                <label class="col-3 col-form-label" style="padding-right: 3px;">Mechanic *</label>
                                <div class="col-8">
                                    <select class="form-control select2 mandatory" id="mekanik">
                                        <option value="">Select Mechanic</option>
                                        @foreach (Fast.Web.Models.EmployeeModel employee in ViewBag.Mechanics)
                                        {
                                            <option value="@(employee.EmployeeID)">[@(employee.EmployeeID)] @employee.FullName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-4 col-form-label" style="padding-right: 3px;">Electrician *</label>
                                <div class="col-8">
                                    <select class="form-control select2 mandatory" id="elektrik">
                                        <option value="">Select Electrician</option>
                                        @foreach (Fast.Web.Models.EmployeeModel employee in ViewBag.Electrics)
                                        {
                                            <option value="@(employee.EmployeeID)">[@(employee.EmployeeID)] @employee.FullName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label" style="padding-right: 3px;">Supervisor *</label>
                                <div class="col-8">
                                    <select class="form-control select2 mandatory" id="teamLeader">
                                        <option value="">Select Team Leader</option>
                                        @foreach (Fast.Web.Models.EmployeeModel employee in ViewBag.Leaders)
                                        {
                                            <option value="@(employee.EmployeeID)">[@(employee.EmployeeID)] @employee.FullName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label" style="padding-right: 3px;">PO Number</label>
                                <div class="col-8">
                                    <select class="form-control select2" name="PONumber" id="PONumber">
                                        <option value="">Select PO Number</option>
                                        @foreach (Fast.Web.Models.WppModel wpp in ViewBag.WPP)
                                        {
                                            <option value="@(wpp.PONumber)">@(wpp.PONumber)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="divider-text divider-vertical"></div>
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-4 col-form-label" style="padding-right: 3px;">Shift / Group *</label>
                                <div class="col-3">
                                    <input type="text" class="form-control mandatory" id="shift" value="3">
                                </div>
                                <label class="col-1 col-form-label tx-center">/</label>
                                <div class="col-3">
                                    @*<input type="text" class="form-control mandatory" id="group" value="C">*@
                                    <select class="form-control select2 mandatory" name="Group" id="group">
                                        <option value="">Select Group</option>
                                        @foreach (Fast.Web.Models.ReferenceDetailModel detail in ViewBag.referenceGroup)
                                        {
                                            <option value="@(detail.Code)">@(detail.Code)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-4 col-form-label" style="padding-right: 3px;">Start / Stop *</label>
                                <div class="col-3">
                                    <div class="input-group">
                                        <input id="inputTimeStart" class="form-control input-time" value="22:00">
                                    </div>
                                </div>
                                <label class="col-1 col-form-label">/</label>
                                <div class="col-3">
                                    <div class="input-group">
                                        <input id="inputTimeStop" class="form-control input-time" value="06:00">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--INFORMATION-->

            <div class="col-12 mg-b-20">
                <div class="card">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">
                        Handover Logbook
                    </div>

                    @*<div class="card-body row">
                        <div class="col-6">
                            <div class="form-group row">
                                <label class="col col-form-label font-weight-bold">Quality</label>
                            </div>
                            <div class="form-group row">
                                <label class="col-6 col-form-label">
                                    Quality Flags
                                </label>
                                <div class="col-2">
                                    <input type="number" onkeypress="validateNumber(event)" placeholder="0" id="hlqualityFlags" class="form-control">*@
                    @*<select class="form-control select2" id="hlqualityFlags">
                            <option value="NA">NA</option>
                            <option value="YES">YES</option>
                            <option value="NO">NO</option>
                        </select>*@
                    @*</div>
                            <div class="col-4">
                                <input type="text" id="hlqualityFlagsAction" class="form-control" placeholder="Mitigation/Immediate Correction Actions">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label">
                                Quality Incidents
                            </label>
                            <div class="col-2">
                                <input type="number" onkeypress="validateNumber(event)" placeholder="0" id="hlqualityIncidents" class="form-control">*@
                    @*<select class="form-control select2" id="hlqualityIncidents">
                            <option value="NA">NA</option>
                            <option value="YES">YES</option>
                            <option value="NO">NO</option>
                        </select>*@
                    @*</div>
                                    <div class="col-4">
                                        <input type="text" id="hlqualityIncidentsAction" class="form-control" placeholder="Mitigation/Immediate Correction Actions">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-6 col-form-label">
                                        Completition of VQI & CPQI selfinspection during the shift
                                    </label>
                                    <div class="col-2">
                                        <select class="form-control select2" id="hlqualityCompletitionofVQI">
                                            <option value="NA">NA</option>
                                            <option value="YES">YES</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" id="hlqualityCompletitionofVQIAction" class="form-control" placeholder="Mitigation/Immediate Correction Actions">
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group row">
                                    <label class="col col-form-label font-weight-bold">&nbsp;</label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-6 col-form-label">
                                        SPC physical parameters out of control limits and/or trends breaking the SPC rule
                                    </label>
                                    <div class="col-2">
                                        <select class="form-control select2" id="hlqualitySPC">
                                            <option value="NA">NA</option>
                                            <option value="YES">YES</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" id="hlqualitySPCAction" class="form-control" placeholder="Mitigation/Immediate Correction Actions">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-6 col-form-label">
                                        Incomplete documentation
                                    </label>
                                    <div class="col-2">
                                        <select class="form-control select2" id="hlqualityIncompleteDoc">
                                            <option value="NA">NA</option>
                                            <option value="YES">YES</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" id="hlqualityIncompleteDocAction" class="form-control" placeholder="Mitigation/Immediate Correction Actions">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-6 col-form-label">
                                        Higher RR
                                    </label>
                                    <div class="col-2">
                                        <select class="form-control select2" id="hlqualityHigherRR">
                                            <option value="NA">NA</option>
                                            <option value="YES">YES</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <input type="text" id="hlqualityHigherRRAction" class="form-control" placeholder="Mitigation/Immediate Correction Actions">
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div class="card-body">
                        <div class="tableWrapper" style="max-height: 210px">
                            <table class="table table-bordered table-hover table-striped">
                                <thead class="thead-info">
                                    <tr class="tx-center">








                                        <th style="min-width:120px;">Stops and Location</th>
                                        <th style="min-width:100px;"># of Stops</th>
                                        <th style="min-width:120px;">Initial Root Cause (Describe the issue) / Action Taken &amp; Impact</th>
                                        <th style="min-width:120px;">Action Taken in your shift</th>
                                        <th width="80px">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="logbook">
                                </tbody>
                                <tfoot>
                                    <tr class="input">
                                        <td><input type="text" class="form-control" name="StopAndLocation"></td>
                                        <td><input type="number" onkeypress="validateNumber(event)" placeholder="0" class="form-control" name="NOfStop"></td>
                                        <td><input type="text" class="form-control" name="InitialCause"></td>
                                        <td><input type="text" class="form-control" name="ActionTaken"></td>
                                        <td class="tx-center"><i data-target="logbook" class="fa fa-plus-circle add-to-table"></i></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="tableWrapper" style="max-height: 210px">
                            <table class="table table-bordered table-hover table-striped">
                                <thead class="thead-info">
                                    <tr class="tx-center">
                                        <th style="width:50%;">Action proposed for next shift</th>
                                        <th style="min-width:90px;">Owner</th>
                                        <th style="min-width:70px;">Start Time</th>
                                        <th style="min-width:70px;">End Time</th>
                                        <th style="min-width:60px;">Duration (Min)</th>
                                        <th style="min-width:100px;">Status</th>
                                        <th width="80px">Action</th>
                                    </tr>
                                    <tr class="summary-body">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>0</td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody id="action">
                                </tbody>
                                <tfoot>
                                    <tr class="input">
                                        <td><input type="text" class="form-control" name="NextAction"></td>
                                        <td><input type="text" class="form-control" name="NextOwner"></td>
                                        <td><input type="text" class="form-control date" name="NextStart" id="start" onblur="javascript:countDuration('start','end','duration')"></td>
                                        <td><input type="text" class="form-control date" name="NextEnd" id="end" onblur="javascript:countDuration('start','end','duration')"></td>
                                        <td><input type="text" class="form-control disabled" disabled value="0" name="NextDurasi" id="duration"></td>
                                        <td>
                                            <select class="form-control select2" name="Status">
                                                <option label="Choose one"></option>
                                                <option value="ONPROGRESS">ONPROGRESS</option>
                                                <option value="DONE">DONE</option>
                                            </select>
                                        </td>
                                        <td class="tx-center"><i data-target="action" class="fa fa-plus-circle add-to-table"></i></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- PROBLEM MESIN -->

            <div class="col-3 mg-b-20">
                <div class="card">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">Capture by Webcam*</div>
                    <div class="card-body d-flex">
                        <div class="flex-1">
                            <div class="form-group row">
                                <div class="col-12" id="image_1">
                                    <center>
                                        <img src="~/Content/dashforge/assets/img/upload-img-mini.png" class="input-img rounded mx-auto d-block" onclick="infoId(this)" data-toggle="modal" data-target="#photo-modal" alt="insert image" width="auto">
                                    </center>
                                </div>
                                <div class="col-12">
                                    <center>
                                        <label class="col-12 col-form-label"><i>Barcode CBL</i></label>
                                        <i id="openImageWoy" class="btn-sm btn-primary fa fa-eye"></i>
                                    </center>
                                </div>
                            </div>
                        </div><!-- FOTO PRODUKSI-->
                    </div>
                </div>
            </div>

            <div class="col-2 mg-b-20">
                <div class="card" id="productInfo">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">
                        Product Information
                    </div>
                    <div class="card-body d-flex">
                        <div class="flex-1">
                            <div class="form-group row">
                                <label class="col-6 col-form-label pr-0">Result (Box)*</label>
                                <div class="col-6">
                                    <input type="number" onkeypress="validateNumber(event)" id="result" class="form-control mandatory" value="0">
                                </div>
                                @*<label class="col-3 col-form-label">Box</label>*@
                            </div>
                            <div class="form-group row">
                                <label class="col-6 col-form-label pr-0">Mesin</label>
                                <div class="col-6">
                                    <input type="number" onkeypress="validateNumber(event)" id="mesin" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-6 col-form-label pr-0">Manual</label>
                                <div class="col-6">
                                    <input type="number" onkeypress="validateNumber(event)" id="manual" class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-6 col-form-label pr-0">Rebox Robot</label>
                                <div class="col-6">
                                    <input type="number" onkeypress="validateNumber(event)" id="reboxrobot " class="form-control" value="">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-form-label tx-center"><b>Remaining*</b></label>
                            </div>
                            <div class="form-group row">
                                <label class="col-6 col-form-label">Bal</label>
                                <div class="col-6">
                                    <input type="number" onkeypress="validateNumber(event)" id="bal" class="form-control mandatory" value="0">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-6 col-form-label">Slof</label>
                                <div class="col-6">
                                    <input type="number" onkeypress="validateNumber(event)" id="slof" class="form-control mandatory" value="0">
                                </div>
                            </div>
                            @*<div class="form-group row">
                                    <label class="col-4 col-form-label">Claimable</label>
                                    <div class="col-5">
                                        <input type="text" class="form-control" disabled value="5">
                                    </div>
                                    <label class="col-2 col-form-label">Pack</label>
                                </div>*@
                        </div>
                        @*<div class="divider-text divider-vertical"></div>
                            <div class="flex-1">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label tx-center"><b>Rework</b></label>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <input type="text" class="form-control" disabled value="135">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <input type="text" class="form-control" disabled value="135">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <input type="text" class="form-control" disabled value="135">
                                    </div>
                                </div>
                            </div>*@<!-- REWORK -->
                        @*<div class="divider-text divider-vertical"></div>
                            <div class="flex-1">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label tx-center"><b>Claim</b></label>
                                </div>
                                <hr>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <input type="text" class="form-control" disabled value="Rusak">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <input type="text" class="form-control" disabled value="Jelek">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <input type="text" class="form-control" disabled value="-">
                                    </div>
                                </div>
                            </div>*@<!-- CLAIMABLE-->
                    </div>
                </div>
            </div>

            <div class="col-7 mg-b-20">
                <div class="card">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">Box Reject</div>
                    <div class="card-body">

                        <div class="row" style="margin:0">
                            <div class="tableWrapper col-12" style="max-height:200px">

                                <table class="table table-bordered table-hover table-striped" id="dtBoxReject">
                                    <thead class="thead-info">
                                        <tr>
                                            <th>Nomor shipping case</th>
                                            <th>Weight</th>
                                            <th>Remark</th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="reject"></tbody>
                                    <tfoot>
                                        <tr class="input">
                                            <td><input type="text" class="form-control" name="NomorShippingCase"></td>
                                            <td><input type="number" onkeypress="validateNumber(event)" class="form-control" name="Weight"></td>
                                            <td><input type="text" class="form-control" name="Remark"></td>
                                            <td><select class="form-control select2" name="Status"><option value="">Choose One</option><option value="pass">Pass</option><option value="reject">Reject</option></select></td>
                                            <td class="tx-center"><i data-target="reject" class="fa fa-plus-circle add-to-table"></i></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mg-b-20">
                <div class="card">
                    <div class="card-header bg-primary tx-white tx-center font-weight-bold">Approval</div>
                    <div class="card-body">
                        <table class="table table-bordered table-hover table-striped" id="dtApproval">
                            <thead class="thead-info">
                                <tr>
                                    <th>Name</th>
                                    <th>Role</th>
                                    <th>Actions</th>
                                    <th style="width:15%;">Date &amp; Time</th>
                                    <th style="width:40%;">Comment</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>


        </div><!-- row -->
    </div><!-- container -->
</div><!-- content -->


<div class="modal fade wizard-modal" id="photo-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="close"><i data-dismiss="modal" class="fa fa-times"></i></div>

                <div id="carousel" class="carousel slide" data-pause="true">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <h5><label id="next-1">Take Picture For 'Barcode 778'</label></h5>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <center>
                                        <select id="videoSource"><option value="" selected="selected"></option></select><br />
                                    </center>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <center>
                                        <video autoplay="true" width="160" height="120" id="videoElement"> </video><br />
                                        <button id="snapHat">Capture Image </button><br />
                                    </center>
                                </div>
                                <div class="col-md-6">
                                    <center>
                                        <canvas id="snapshot" style="max-width:160px !important"></canvas><br />
                                        <p id="demo"></p>

                                        <button id="capture" hidden>Read PDF417</button>  @*don't remove *@
                                        <button id="capture3" hidden>OCR ID </button>  @*don't remove*@
                                        <button id="saveText" hidden>Save Text + Image </button>   @*don't remove *@
                                    </center>
                                </div>
                            </div>


                        </div>
                    </div>
                    <hr>
                    <div>
                        @*<button type="button" onclick="javascript:wizardButtonSetSelection(this)" id="btnNextPhoto" class="btn btn-xs btn-primary next" style="float:right;">Add</button>*@
                        <button onclick="javascript:wizardButtonSetSelection(this)" type="button" id="btnNextPhoto" class="btn btn-xs btn-primary next" style="float:right;">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="jsonModel" data-json='@Html.Raw(JsonConvert.SerializeObject(Model))' />

@section Scripts{
    <script src="~/Content/dashforge/lib/cleave.js/cleave.min.js"></script>
    <script src="~/Content/dashforge/lib/select2/js/select2.min.js"></script>
    <script src="~/Content/dashforge/lib/moment/moment.js"></script>

    <script src="~/Content/dashforge/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/dashforge/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="~/Content/dashforge/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/dashforge/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>

    <script>
        //gak jalan kalau ditaruh onclick, button nya dianggap generated content
        function printImage(element, child) {
            //alert("lala");
            const imagedata = $("#image_1").find('img').first().attr('src');
            //alert(imagedata);
            if (imagedata.length > 200) {
                let dataimage = new Image();
                let windowOpen = window.open("");
                dataimage.src = imagedata;
                windowOpen.document.write(dataimage.outerHTML);
                console.log(imagedata);
                return;
            } else {
                pwin = window.open(imagedata, "_blank");
            }

        }

        $(function () {
            $(document).on("click", "#openImageWoy", function () {
                printImage('image_1_show', 'image_1');
            })
        });
    </script>

    <script>
        function ieFix() {
            /*
            if (navigator.userAgent.search("Edge") >= 0) {
                $(".tableWrapper:has(tfoot)").each(function () {
                    $(this).find("tfoot tr.input").css({ "position": "fixed", "bottom": "-0.5px" });
                    $(this).find("table").css({ "margin-bottom": "32px" });
                    $(this).css({ "overflow-y": "scroll" });
                    const ths = $(this).find("thead tr:first-child th");
                    $(this).find("tfoot td").each(function (i) {
                        $(this).css({ "min-width": $($(ths)[i]).width() + 20, "position": "static" });
                    });
                });
            }
            */
        }
        function uuidv4() {
            return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
                (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16));
        }

        function generateRow(data, targetTable) {
            let r = "";
            $(`#${targetTable} ~ tfoot tr.input td`).children("input, select").each(function () {
                const name = $(this).prop("name");

                r += `<td data-name="${name}">${data[name]}</td>`;
            });

            let useEdit = true;
            let useDelete = true;
            let additionalButtons = "";
            if (configAle[targetTable].rowConfig !== undefined) {
                if (configAle[targetTable].rowConfig.withEdit !== undefined)
                    useEdit = configAle[targetTable].rowConfig.withEdit;
                if (configAle[targetTable].rowConfig.withDelete !== undefined)
                    useDelete = configAle[targetTable].rowConfig.withDelete;
                if (configAle[targetTable].rowConfig.additionalButtons != undefined)
                    additionalButtons = configAle[targetTable].rowConfig.additionalButtons(data);
            }
            r += `<td class="tx-center">`;
            r += additionalButtons;
            if (useEdit) r += `<i onclick="javascript:editData(this)" data-id="${data.id}" data-target-table="${targetTable}" class="fa fa-edit edit"></i>`;
            if (useDelete) r += `<span onClick="javascript:deleteData(this)" data-id="${data.id}" data-target-table="${targetTable}"><i class="fa fa-trash"></i></span>`;
            r += `</td >`;
            return r;
        }
        function generateTable(arr, targetTable) {
            if (arr.length == 0) return "";
            let rows = "";
            for (var i = arr.length - 1; i >= 0; i--) {
                rows += '<tr>';
                rows += generateRow(arr[i], targetTable);
                rows += '</tr>';
            }
            return rows;
        }
        function findInArray(id, crr) {
            for (var i = 0; i < crr.length; i++) {
                if (crr[i].id == id) {
                    return i;
                }
            }
        }
        function deleteFromArray(id, crr) {
            crr.splice(findInArray(id, crr), 1);
            return crr;
        }
        function editData(button) {
            const table = $(button).parents("table");
            if (!$(table).data("edited")) {
                $(table).data("edited", true);

                const tds = $(button).parents("tr").children('td');
                const inputTr = $(table).find('tr.input');
                const inputTds = $(inputTr).children('td');
                const tdsCount = $(tds).length;

                $(table).find('select').each(function () {
                    $(this).select2('destroy');
                    $(this).removeAttr('data-select2-id');
                });

                $(tds).each(function (i, e) {
                    const el = $(inputTds[i]).children()[0];
                    if (i != tdsCount - 1) {
                        const html = $(e).html();
                        const newInput = $(el).clone();
                        if (!$(el).hasClass("disabled"))
                            $(newInput).prop("disabled", false);

                        $(el).prop("disabled", true);
                        $(newInput).val(html);
                        $(e).html(newInput);
                    } else {
                        $(el).off("click");
                        const edit = $(e).find(".edit");
                        $(edit).attr("onclick", "javascript:normalData(this)");
                        $(edit).removeClass("fa-edit");
                        $(edit).addClass("fa-save");
                    }
                });
            }
            $('.date').toArray().forEach(function (field) {
                new Cleave(field, {
                    time: true,
                    timePattern: ['h', 'm']
                });
            });
            basicFunction();
            ieFix();
        }
        function releaseDisabledInput(table) {
            $(table).data("edited", false);
            const tds = $(table).find('tr.input td');
            const tdsCount = $(tds).length;
            $(tds).each(function (i, e) {
                const el = $(e).children()[0];
                if (i != tdsCount - 1) {
                    if (!$(el).hasClass("disabled"))
                        $(el).prop("disabled", false);
                } else {
                    var ev = $._data(el, 'events');
                    if (!(ev && ev.click))
                        $(el).on("click", addToTable);
                }
            });
        }
        function wizardButtonSetSelection(button) {
            selected = $(button).html();
            wizardButtonNext(button);
        }
        function wizardButtonNext(button) {
            const modal = $(button).parents(".modal");
            const carousel = $(modal).find('.carousel');
            const index = $(carousel).find('.carousel-item.active').index();
            const stepper = $(modal).find('.stepper');

            var info = { shouldReturn: false, shouldHide: false };
            $(modal).trigger("next", [index, info]);
            if (info.shouldReturn) return;
            if (info.shouldHide) { $(modal).modal('hide'); return; }

            $(stepper).children('.active').removeClass("active");

            $(carousel).carousel('next');
            $(stepper).children(`.stepper-step:nth-child(${index + 2})`).toggleClass("active");
            $(modal).find(".prev").show();
        };
        function generateWizardButton(arr) {
            let r = "";
            for (var i = 0; i < arr.length; i++) {
                r += `<button type="button" class="wizard-button btn btn-primary" onclick="javascript:wizardButtonSetSelection(this)">${arr[i]}</button>`;
            }
            return r;
        }
        function startupSetup(target, data) {
            $(target).html(generateTable(data, target));
            countSummary(target);
        }
        $(document).ready(function () {

            $('.date').toArray().forEach(function (field) {
                new Cleave(field, {
                    time: true,
                    timePattern: ['h', 'm']
                });
            });
            $(".add-to-table").on("click", addToTable);
            $('.tableWrapper thead tr').each(function () {
                const top = $(this).position().top;
                $(this).children().css({ "top": top });
            });
            $(".wizard-modal .next").click(wizardButtonNext);
            $(".wizard-modal .prev").click(function () {
                const modal = $(this).parents(".modal");
                const carousel = $(modal).find('.carousel');
                const stepper = $(modal).find('.stepper');
                const index = $(carousel).find('.carousel-item.active').index();

                $(stepper).children('.active').removeClass("active");

                $(carousel).carousel('prev');
                $(stepper).children(`.stepper-step:nth-child(${index})`).toggleClass("active");
                if (index == 1) $(modal).find(".prev").hide();
            });
            $('.wizard-modal').on('hidden.bs.modal', function (e) {
                const carousel = $(this).find('.carousel');
                const stepper = $(this).find('.stepper');
                $(this).find('.active').removeClass("active");
                $(stepper).children(".stepper-step:first-child").toggleClass("active");
                $(carousel).find(".carousel-item:first-child").toggleClass("active");
                $(this).trigger("hide");
                $(this).find(".prev").hide();
            });
        });
        function addToTable(button) {
            const targetTable = $(this).data("target");
            const tds = $(this).parents("tr").children("td");
            var newdata = {
                id: uuidv4()
            };
            let shouldReturn = false;
            $(tds).each(function (tdIndex, td) {
                const input = $(td).children();
                if (input.attr("name") != undefined) {
                    const name = input.attr("name");
                    const val = input.val();
                    if (configAle[targetTable].onValidate != undefined) {
                        if (configAle[targetTable].onValidate(name, val)) {
                            shouldReturn = true;
                            if ((input[0].nodeName.toLowerCase() === 'select')) {
                                $(input[0]).siblings(".select2-container").css('border', '1px solid red');
                                $(input[0]).siblings(".select2-container").css('border-radius', '0.25rem');
                                $(input[0]).on('select2:select', function (e) {
                                    $(input[0]).siblings(".select2-container").css('border', 'none');
                                    $(input[0]).siblings(".select2-container").css('border-radius', '0');
                                });
                            } else if (input[0].value === "") {
                                input[0].style.borderColor = "red";
                                $(input[0]).on('click', function (e) {
                                    input[0].style.borderColor = "rgb(192, 204, 218)";
                                });
                            }
                            return false;
                        }
                    }
                    if (input[0].type.toLowerCase() == "number") {
                        var myRegexp = /^00+$/g;
                        var match = myRegexp.exec(val);
                        if (match != null) {
                            alert("Please input a valid number");
                            shouldReturn = true;
                            return false;
                        }
                    }
                    newdata[name] = val;
                }
            });
            if (shouldReturn) return;
            $(tds).each(function (i, td) {
                const node = $(td).children();
                $(node).val("");
                if ($(node).hasClass("select2"))
                    $(node).trigger('change');
            });

            if (configAle[targetTable].onAdd != undefined) {
                if (configAle[targetTable].onAdd(newdata)) {
                    return;
                }
            }
            configAle[targetTable].data.push(newdata);
            $("#" + targetTable).html(generateTable(configAle[targetTable].data, targetTable));
            countSummary(targetTable);
            ieFix();
        }
        function countSummary(targetTable) {
            if (configAle[targetTable].countSummary != undefined) {
                const rowData = configAle[targetTable].countSummary();
                const summaryTds = $('#' + targetTable).parents('table').find('.summary-body').children();
                $('#' + targetTable).parents('table').find('.input td').each(function (i, td) {
                    const name = $(td).children().attr("name");
                    if (rowData.hasOwnProperty(name))
                        $(summaryTds[i]).html(rowData[name]);
                });
            }
        }
        function deleteData(button) {
            if (confirm("Are you sure?")) {
                const id = $(button).data("id");
                const targetTable = $(button).data("target-table");
                const table = $(button).parents("table");
                releaseDisabledInput(table);
                if (configAle[targetTable].onDelete != undefined) {
                    if (configAle[targetTable].onDelete(id)) {
                        return;
                    }
                }
                deleteFromArray(id, configAle[targetTable].data);
                $('#' + targetTable).html(generateTable(configAle[targetTable].data, targetTable));
                countSummary(targetTable);
                ieFix();
            }
        }
        function normalData(button) {
            if (confirm("Are you sure?")) {
                const id = $(button).data("id");
                const targetTable = $(button).data("target-table");
                const tds = $(button).parents("tr").children('td');
                const tdsCount = $(tds).length;
                const table = $(button).parents("table");

                console.log(tdsCount);

                if (configAle[targetTable].onSave != undefined) {
                    if (configAle[targetTable].onSave(id)) {
                        return;
                    }
                }
                const index = findInArray(id, configAle[targetTable].data);
                let shouldReturn = false;
                var newdata = {
                    id: uuidv4()
                };
                $(tds).each(function (tdIndex, e) {
                    if (tdIndex != tdsCount - 1) {
                        const name = $(e).data("name");
                        const val = $($(e).children()[0]).val();
                        if (configAle[targetTable].onValidate != undefined) {
                            if (configAle[targetTable].onValidate(name, val)) {
                                shouldReturn = true;
                                return false;
                            }
                        }
                        newdata[name] = val;
                    } else {
                        const edit = $(e).find(".edit");
                        $(edit).attr("onclick", "javascript:editData(this)");
                        $(edit).removeClass("fa-save");
                        $(edit).addClass("fa-edit");
                    }
                });
                if (shouldReturn) return;

                configAle[targetTable].data[index] = newdata;
                const row = generateRow(configAle[targetTable].data[index], targetTable);
                console.log(newdata);

                $(button).parents("tr").html(row);

                releaseDisabledInput(table);
                countSummary(targetTable);
                ieFix();
            }
        }
        function collectAllData() {
            let collectorArray = [];
            for (var tableId in configAle) {
                let tableColumnType = {};
                $(`#${tableId} ~ tfoot tr.input td input`).each(function () {
                    tableColumnType[$(this).prop("name")] = $(this).prop("type");
                });
                const data = configAle[tableId].data;
                for (let i = 0; i < data.length; i++) {
                    for (var prop in data[i]) {
                        if (Object.prototype.hasOwnProperty.call(data[i], prop)) {
                            if (prop == "id") continue;
                            let val = data[i][prop];
                            if (configAle[tableId].onCollectData != undefined) {
                                val = configAle[tableId].onCollectData(prop, val);
                            }
                            console.log(prop, val);
                            collectorArray.push({
                                HeaderName: tableId,
                                FieldName: prop,
                                Value: val,
                                ValueType: tableColumnType[prop] == "number" ? "Numeric" : "NonNumeric",
                                RowNumber: i
                            });
                            console.log(collectorArray);
                        }
                    }
                }
            }
            return collectorArray;
        }
        function countDuration(start, end, duration) {
            var end = $('#' + end).val();
            var start = $('#' + start).val();

            if (start != "" && end != "") {
                end = end.split(':');
                start = start.split(':');
                var d = new Date();
                var startdate = new Date(d.getFullYear(), d.getMonth(), d.getDate(), start[0], start[1]);
                var enddate = new Date(d.getFullYear(), d.getMonth(), d.getDate(), end[0], end[1]);

                if (startdate > enddate) {
                    enddate = new Date(enddate);
                    enddate.setDate(enddate.getDate() + 1);
                }

                var diffTime = enddate - startdate;
                var diffMinutes = Math.ceil(diffTime / 60000);
                if (diffMinutes == NaN) {
                    $('#' + duration).val(0);
                } else {
                    $('#' + duration).val(diffMinutes);
                }
            }
        };
    </script>
    <script>
        /*
            * name = id dari tbody;
            * data = array untuk menyimpan data;
            * countSummary = dipanggil saat menghitung summary, return object dengan property sesuai dengan name pada `tfoot tr.input`;
            * onAdd(newData) = dipanggil sebelum menambah data, return boolean apakah harus ditambahkan atau tidak;
            * onDelete(idOfDeletedObject) = dipanggil sebelum menghapus data, return boolean apakah harus dihapus atau tidak;
            * onSave(idOfUpdatedObject) = dipanggil sebelum mengubah data, return boolean apakah harus diubah atau tidak;
            * onValidate(nameOfInput, valueOfInput) = validasi nilai saat tambah dan save, return boolean apakah harus diterus atau tidak;
            *
            * rowConfig = config untuk generate baris tabel;
            * - withEdit = menampilkan edit, default true;
            * - withDelete = menampilkan delete, default true;
            * - additionalButtons(data) = fungsi untuk yang akan mengembalikan button tambahan untuk tiap baris, return element html dalam string;
            */

        var logbookData = [];
        var rejectData = [];
        var claimData = [];
        var retrievalData = [];
        var actionData = [];

        const configAle = {
            logbook: {
                data: logbookData,
                onValidate(name, val) {
                    if (val == "") {
                        alert("Value can't be empty");
                        return true;
                    }
                    return false;
                },
                onAdd: function (newData) {
                    console.log(newData);
                },


            },
            action: {
                data: actionData,
                onValidate(name, val) {
                    if (val == "") {
                        alert("Value can't be empty");
                        return true;
                    }
                    return false;
                },
                countSummary: function () {
                    let rowData = {};
                    let NextDurasi = 0;
                    for (var i = 0; i < actionData.length; i++) {
                        NextDurasi += parseInt(actionData[i].NextDurasi);
                    }
                    rowData.NextDurasi = NextDurasi;
                    return rowData;
                },
                onAdd: function (newData) {
                    console.log(newData);
                },


            },
            reject: {
                data: rejectData,
                onValidate(name, val) {
                    if (val == "") {
                        alert("Value can't be empty");
                        return true;
                    }
                    return false;
                },
            },
        }</script>
    <script>
        function basicFunction() {
            /*  chanif: $('.select2').start diganti jadi $('.select2').select2 */
            $('.select2').select2({
		        allowClear: true,
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search options'
            });
            $('#prodTech').select2('destroy');
            $('#prodTech').select2({
	            placeholder: 'Choose one or more',
	            searchInputPlaceholder: 'Search options'
            });
            /*$('#brandInfo').select2('destroy');
            $('#brandInfo').select2({
                minimumInputLength: 4,
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search options'
            });*/

            $(document).find('.input-time').each(function () {
                var cleave = new Cleave($(this), {
                    time: true,
                    timePattern: ['h', 'm']
                });
            })
        }

        $(function () {
            'use strict'

           /******************** PREFILLED ******************/
            var model = JSON.parse($("#jsonModel").attr("data-json"));
            console.log("chanif");
            console.log(model);

            var counter = 0;
            /*  chanif: find('input') dirubah jadi find('input, select')   */
            $('#generalInfo, #productInfo').find('input, select').each(function () {
                var val = model.CompoVal[counter++].Value.Value;
                val = decodeURIComponent(val == null ? "" : val);

	            if (val.indexOf('___') !== -1) {
		            val = val.split('___');
                }
                console.log(this);
                console.log(val);
                $(this).val(val);
            })

            var counter_image = 1;
            for (counter; counter < model.CompoVal.length; counter++) {
                const val = model.CompoVal[counter].Value.Value;
                $('#'+model.CompoVal[counter].Component.ComponentName).val(decodeURIComponent(val ? val : ""));

                if (model.CompoVal[counter].Value.ValueType.trim() == "ImageURL") {
                    document.getElementById("image_"+(counter_image++)).innerHTML = '<img class="input-img rounded mx-auto d-block" src="'+fastApp.BaseUrl+'/Uploads/lph/casepacker/' + decodeURIComponent(val ? val : "_no_image.png") + '" onclick="infoId(this)" data-toggle="modal" data-target="#photo-modal" />';
                }
            }

             while (model.Extras.length > 0) {
                const lastIndex = model.Extras.length - 1;
                const table = model.Extras[lastIndex].HeaderName;
                const row = model.Extras[lastIndex].RowNumber;
                let data = {
                    id: uuidv4()
                };
                for (let i = lastIndex; i >= 0; i--) {
                    if (model.Extras[i].HeaderName == table && model.Extras[i].RowNumber == row) {
                        //data[model.Extras[i].FieldName] = model.Extras[i].Value;
                        const val = model.Extras[i].Value;
                        data[model.Extras[i].FieldName] = decodeURIComponent(val ? val : "");
                        if (model.Extras.length == 1) model.Extras = [];
                        else model.Extras.splice(i, 1);
                        console.log(model.Extras.length);
                    }
                 }

                 console.log(table);
                 console.log(configAle[table]);
                configAle[table].data.push(data);
            }
            for (let prop in configAle) {
                configAle[prop].data.reverse();
                $("#" + prop).html(generateTable(configAle[prop].data, prop));
                countSummary(prop);
                ieFix();
            }

            var lphID = @(Model.LPH.ID);
            $('#dtApproval').dataTable({
                "autoWidth": false,
                "processing": true,
                "serverSide": true,
                "info": false,
                "filter": false,
                "bLengthChange": false,
                "orderMulti": false,
                "pageLength": 10,
                "destroy": true,
                "order": [[ 3, "asc" ]],
                "ajax": {
                    "url": fastApp.BaseUrl + '/CasePacker/GetApproverList?lphid='+ lphID,
                    "type": "POST",
                    "datatype": "json"
                },

                "columnDefs":
                    [{
                        "targets": [0],
                      "searchable": true,
                        "orderable": true
                    },
                    {
                        "targets": [1],
                        "searchable": true,
                        "orderable": true
                    },
                    {
                        "targets": [2],
                        "searchable": true,
                        "orderable": true
                    },
                    {
                        "targets": [3],
                        "searchable": true,
                        "orderable": true
                    },
                    {
                        "targets": [4],
                        "searchable": true,
                        "orderable": true
                    },

                    ],

                "columns": [

                    { "data": "User", "name": "User", "title": "Name", "autoWidth": false },
                    { "data": "Role", "name": "Role", "title": "Role", "autoWidth": false },
                    { "data": "Status", "name": "Status", "title": "Status", "autoWidth": false },
                    {
                        "data": "ModifiedDate",
                        render: function (data, type, row) {
                            if (data)
                                                                return moment(data).format("DD-MMM-YY HH:mm");
                            else
                                return '';
                        }
                    },
                    { "data": "Notes", "name": "Notes", "title": "Notes", "autoWidth": false }
                ],
                "fnRowCallback": function (nRow, data, iDisplayIndex, iDisplayIndexFull) {
                    $('td', nRow).css('background-color', data['Color']);
                    $('#dtApproval_paginate')[0].style.display = "none";
                }
            });


            /****************** END PREFILLED ****************/

            basicFunction();

            //chanif: matikan semua input
            $(document).find('input,select,textarea').each(function(){
                $(this).attr('disabled', 'disabled');
            });

            //chanif: matikan semua button tambah/edit/delete. delay 1 detik nunggu load semua
            setTimeout(function (){
                $(document).find('i,span').each(function(){
                    $(this).prop("onclick", null).off("click");
                });
            }, 1000);

            //chanif: jangan munculkan modal ketika gambar di-klik
            $(document).find('img').each(function(){
                $(this).attr("data-toggle", null);
                $(this).attr("data-target", null);
            });
        })
    </script>


}