@model Fast.Web.Models.Report.DataKPICRRConversionModel
@using Fast.Web.Resources;

<link href="~/Content/dashforge/lib/fontawesome-free/css/all.min.css" rel="stylesheet">
<!-- Specific Page Vendor CSS -->
<style>
    .dataTables_scrollHead table, .dataTables_scrollBody table {
        width: 1800px !important;
    }
</style>

<div class="card-header">
    <div class="row pd-r-10-f">
        <div class="col-sm-2 form-group">
            <label class="d-block">Production Center</label>
            <select class="form-control select2" id="PC" name="PC">
                <option value="">All Production Center</option>
                <option value="PB" @(ViewBag.PC == "PB" ? "selected" : "")>PB - SIS Sukorejo</option>
                <option value="PJ" @(ViewBag.PC == "PJ" ? "selected" : "")>PJ - Sampoerna Sukorejo</option>
                <option value="PK" @(ViewBag.PC == "PK" ? "selected" : "")>PK - Sampoerna Karawang</option>
                <option value="PI" @(ViewBag.PC == "PI" ? "selected" : "")>PI - PMID Karawang</option>
            </select>
        </div>
        <div class="col-sm-2 form-group">
            <label class="d-block">Year</label>
            <input class="form-control text-right" id="year" type="number" value="@ViewBag.Year">
        </div>
        <div class="col-sm-2 form-group">
            <label class="d-block">Week</label>
            <input class="form-control text-right" id="week" type="number" value="@ViewBag.Week" placeholder="Empty = All Week">
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-3 mg-t-30"><button onclick="refresh()" class="btn pd-x-15 btn-primary btn-uppercase btn-block"><i class="fa fa-search mg-r-10"></i> Search</button></div>
                <div class="col-sm-3 mg-t-30"><button onclick="downloadData('CRRConversion')" class="btn pd-x-15 btn-primary btn-uppercase btn-block"><i class="fa fa-download mg-r-10"></i> Download</button></div>
                <div class="col-sm-3 mg-t-30"><button onclick="modalUploadData('CRRConversion')" class="btn pd-x-15 btn-primary btn-uppercase btn-block"><i class="fa fa-upload mg-r-10"></i> Upload Data</button></div>
                <div class="col-sm-3 mg-t-30"><button onclick="modalAddData()" class="btn pd-x-15 btn-primary btn-uppercase btn-block"><i class="fa fa-plus mg-r-10"></i> Add Data</button></div>
            </div>
        </div>
    </div>
</div>
<div class="card-body">
    <table class="table table-bordered dodatatable">
        <thead class="thead-primary font-weight-bold">
            <tr>
                <td>Production Center</td>
                <th>Year</th>
                <th>Week</th>
                <td>Debu Final</td>
                <td>Dust Halus LM</td>
                <td>Dust Halus LM no Ripper</td>
                <td>Sapon Tembakau</td>
                <td>Sapon Cigarette</td>
                <td>Claimable In Th Stick</td>
                <td>Average Final Ov</td>
                <td>C2 Weight</td>
                <th>Inserted By</th>
                <th>Inserted Date</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var data in Model.Data)
            {
                <tr>
                    <td>@data.ProductionCenter</td>
                    <td>@data.Year</td>
                    <td>@data.Week</td>
                    <td>@(data.DebuFinal / 1000000)</td>
                    <td>@(data.DustHalusLM / 1000000)</td>
                    <td>@(data.DustHalusLMnoRipper / 1000000)</td>
                    <td>@(data.SaponTembakau / 1000000)</td>
                    <td>@(data.SaponCigarette / 1000000)</td>
                    <td>@(data.ClaimableInThStick / 1000000)</td>
                    <td>@(data.AverageFinalOv / 1000000)</td>
                    <td>@(data.C2Weight / 1000000)</td>
                    <td>@data.ModifiedBy</td>
                    <td>@(((DateTime)data.ModifiedDate).ToString("dd-MMM-yy HH:mm"))</td>
                    <td class="text-center">
                        <a class="btn-default tx-black" title="Edit Data" href="#" onclick="editdata(this, @(data.ID))"><i class="fa fa-edit"></i></a>
                        <a class="btn-default tx-black" title="Delete Data" href="#" onclick="deletedata(@(data.ID))"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div class="modal fade" id="modalEditData" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width:500px;">
        <div class="modal-content" id="FormEdit">
            <form action="@Url.Action("EditCRRConversion", "ReportKPI")" class="form-horizontal" method="post">
                <div class="modal-header pd-20">
                    <h4 class="tx-18 tx-sm-20 mg-b-2" id="ModalTitle"></h4>
                </div><!-- modal-header -->
                <div class="modal-body pd-sm-t-20 pd-sm-b-20 pd-sm-x-30">
                    <div class="">
                        <input name="ID" type="hidden" value="">

                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Production Center</label>
                            <div class="col-sm-8">
                                <select class="form-control select2" name="ProductionCenter">
                                    <option value="PB">PB - SIS Sukorejo</option>
                                    <option value="PJ">PJ - Sampoerna Sukorejo</option>
                                    <option value="PK">PK - Sampoerna Karawang</option>
                                    <option value="PI">PI - PMID Karawang</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Year</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" name="Year" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Week</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" name="Week" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Debu Final</label>
                            <div class="col-sm-8">
                                <input type="number" step="any" class="form-control" name="DebuFinal" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Dust Halus LM</label>
                            <div class="col-sm-8">
                                <input type="number" step="any" class="form-control" name="DustHalusLM" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Dust Halus LM no Ripper</label>
                            <div class="col-sm-8">
                                <input type="number" step="any" class="form-control" name="DustHalusLMnoRipper" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Sapon Tembakau</label>
                            <div class="col-sm-8">
                                <input type="number" step="any" class="form-control" name="SaponTembakau" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Sapon Cigarette</label>
                            <div class="col-sm-8">
                                <input type="number" step="any" class="form-control" name="SaponCigarette" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Claimable In Th Stick</label>
                            <div class="col-sm-8">
                                <input type="number" step="any" class="form-control" name="ClaimableInThStick" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Average Final Ov</label>
                            <div class="col-sm-8">
                                <input type="number" step="any" class="form-control" name="AverageFinalOv" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label">C2Weight</label>
                            <div class="col-sm-8">
                                <input type="number" step="any" class="form-control" name="C2Weight" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pd-x-20 pd-y-15">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>


        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<script type="text/javascript">
    function modalAddData() {
        $("#ModalTitle").text("Add CRR Conversion");
        $('input[name ="ID"]').val(0);

        $('input[name ="ProductionCenter"]').val("");
        $('input[name ="Year"]').val(new Date().getFullYear());
        $('input[name ="Week"]').val(moment().format('W'));
        $('input[name ="DebuFinal"]').val(0);
        $('input[name ="DustHalusLM"]').val(0);
        $('input[name ="DustHalusLMnoRipper"]').val(0);
        $('input[name ="SaponTembakau"]').val(0);
        $('input[name ="SaponCigarette"]').val(0);
        $('input[name ="ClaimableInThStick"]').val(0);
        $('input[name ="AverageFinalOv"]').val(0);
        $('input[name ="C2Weight"]').val(0);
        $("#modalEditData").modal();
    };

    function editdata(e, id) {
        $tr = $(e).closest('tr');
        console.log($tr.find("td:eq(1)").text());
        $("#ModalTitle").text("Edit CRR Conversion");
        $('input[name ="ID"]').val(id);
        $('input[name ="ProductionCenter"]').val($tr.find("td:eq(0)").text());
        $('input[name ="Year"]').val($tr.find("td:eq(1)").text());
        $('input[name ="Week"]').val($tr.find("td:eq(2)").text());
        $('input[name ="DebuFinal"]').val($tr.find("td:eq(3)").text());
        $('input[name ="DustHalusLM"]').val($tr.find("td:eq(4)").text());
        $('input[name ="DustHalusLMnoRipper"]').val($tr.find("td:eq(5)").text());
        $('input[name ="SaponTembakau"]').val($tr.find("td:eq(6)").text());
        $('input[name ="SaponCigarette"]').val($tr.find("td:eq(7)").text());
        $('input[name ="ClaimableInThStick"]').val($tr.find("td:eq(8)").text());
        $('input[name ="AverageFinalOv"]').val($tr.find("td:eq(9)").text());
        $('input[name ="C2Weight"]').val($tr.find("td:eq(10)").text());

        $("#modalEditData").modal();
    }

    function refresh() {
        $('#loading_overlay').removeClass('d-none');
        $("#main_container").load(fastApp.BaseUrl + "/ReportKPI/DataCRRConversion?year=" + $('#year').val() + "&week=" + $('#week').val() + "&PC=" + $('#PC').val(), function () {
            $('#loading_overlay').addClass('d-none');
        });
    }

    function deletedata(id) {
        if (confirm("Do you really want to delete this data?")) {
            $.get(fastApp.BaseUrl + "/ReportKPI/DeleteCRRConversion/" + id, function (data) {
                refresh();
            });
        }
    }

    function downloadData(data) {
        window.open(fastApp.BaseUrl + "/ReportKPI/DownloadXls?data=" + data + "&year=" + $('#year').val() + "&week=" + $('#week').val() + "&PC=" + $('#PC').val(), '_blank');
    }

    $('.dodatatable').DataTable({
        scrollX: true,
        order: [],
        //responsive: true,
        language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
        }
    });
    $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });
</script>