@model Fast.Web.Models.LocationModel
@using Fast.Web.Resources;

@using (Html.BeginForm("Edit", "Location", FormMethod.Post, new { @class = "form-horizontal", @id = "ModalForm" }))
{
	@Html.AntiForgeryToken()
	@Html.HiddenFor(x => x.ID, new { @Id = "ID" })
	@Html.HiddenFor(x => x.Type, new { @Id = "Type" })
	<div class="modal-content">
		<div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
			<a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</a>
			<div class="media align-items-center">
				<span class="tx-color-03 d-none d-sm-block"><i class="fa fa-edit" style="font-size:48px;"></i></span>
				<div class="media-body mg-sm-l-20">
					<h4 class="tx-18 tx-sm-20 mg-b-2">@UIResources.EditLocation</h4>
					<p class="tx-13 tx-color-03 mg-b-0">@UIResources.FillAllRequiredFields</p>
				</div>
			</div><!-- media -->
		</div><!-- modal-header -->
        <div class="modal-body pd-sm-t-20 pd-sm-b-20 pd-sm-x-30">
            <div class="row row-sm mg-b-10" id="divCode">
                <div class="col-sm-4" >
                    <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.Code</label>
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.Code, null, new { @class = "form-control", @id = "tbCode", @required = "@required" })
                </div>
            </div>

            <div class="row row-sm mg-b-10" id="divDesc">
                <div class="col-sm-4">
                    <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.Description</label>
                </div>
                <div class="col-sm-7">
                    @Html.TextBoxFor(x => x.Description, null, new { @class = "form-control", @id = "tbDescription", @required = "@required" })
                </div>
            </div>
        </div><!-- modal-body -->
		<div class="modal-footer pd-x-20 pd-y-15">
			<button type="button" class="btn btn-white" data-dismiss="modal">@UIResources.Cancel</button>
			<button type="submit" class="btn btn-primary">@UIResources.Save</button>
		</div>
	</div><!-- modal-content -->
}