@model Fast.Web.Models.MppModel
@using Fast.Web.Resources;

@section CSS_lib{
	<!-- Specific Page Vendor CSS -->
	<link href="~/Content/dashforge/lib/typicons.font/typicons.css" rel="stylesheet">
	<link href="~/Content/dashforge/lib/prismjs/themes/prism-vs.css" rel="stylesheet">
	<link href="~/Content/dashforge/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="~/Content/dashforge/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
}

<div class="content content-fixed bd-b">
	<div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
		<div class="d-sm-flex align-items-center justify-content-between">
			<div>
				<h4 class="mg-b-5">@UIResources.MppList</h4>
				<p class="mg-b-0 tx-color-03">@UIResources.MppDataManagement</p>
			</div>
			<div class="mg-t-20 mg-sm-t-0">
				<div class="row">
					<button class="btn btn-primary btn-sm pd-x-15 btn-uppercase dtAddButton" onclick="location.href='@Url.Action("Index", "MPP")'">
						<i data-feather="arrow-left-circle" class="mg-r-5"></i> @UIResources.Back
					</button>
				</div>
			</div>

		</div><!-- End content header -->
		<br />
		<div class="d-sm-flex align-items-center justify-content-between">

		</div>
		<div data-label="Filter" class="df-example demo-table dtMarginTop">
			<div class="row">
				<div class="col-sm-1">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.Country</label>
				</div>
				<div class="col-sm-2">
					@Html.DropDownListFor(x => x.CountryID, (IEnumerable<SelectListItem>)ViewBag.CountryList, new { @class = "form-control", @id = "ddlCountry1" })
				</div>
				<div class="col-sm-1">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.ProdCenter</label>
				</div>
				<div class="col-sm-2">
					@Html.DropDownListFor(x => x.ProdCenterID, (IEnumerable<SelectListItem>)ViewBag.ProductionCenterList, new { @class = "form-control", @id = "ddlProdCenter1" })
				</div>
				<div class="col-sm-1">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.Department</label>
				</div>
				<div class="col-sm-2">
					@Html.DropDownListFor(x => x.DepartmentID, (IEnumerable<SelectListItem>)ViewBag.DepartmentList, new { @class = "form-control", @id = "ddlDepartment1" })
				</div>
				<div class="col-sm-1">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.SubDepart</label>
				</div>
				<div class="col-sm-2">
					@Html.DropDownListFor(x => x.LocationID, (IEnumerable<SelectListItem>)ViewBag.SubDepartmentList, new { @class = "form-control", @id = "ddlSubDepartment1" })
				</div>
			</div><br />
			<div class="row">
				<div class="col-sm-1">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">Start Date</label>
				</div>
				<div class="col-md-2"><input class="form-control hasDatepicker" id="startDate" type="text" placeholder="dd-MMM-yy" /></div>
				<div class="col-sm-1">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">End Date</label>
				</div>
				<div class="col-md-2"><input class="form-control hasDatepicker" id="endDate" type="text" placeholder="dd-MMM-yy" /></div>
				<div class="col-sm-1">
				</div>
				<div class="col-sm-2">
					<button id="btnSearch" class="btn btn-sm pd-x-15 btn-primary btn-uppercase btn-block">Search</button>
				</div>
				<div class="col-sm-1">
				</div>
				<div class="col-sm-2">
					<button onclick="GenerateExcel()" class="btn btn-sm pd-x-15 btn-primary btn-uppercase btn-block">Export</button>
				</div>
			</div>
		</div>
		<div data-label="MPP Data" class="df-example demo-table dtMarginTop" id="dataArea">
			<table class="table table-bordered table-striped mb-none border-bottom-0 table-fast" id="mppTable">
				<thead>
					<tr>
						<th>@UIResources.ID</th>
						<th>@UIResources.Date</th>
						<th>@UIResources.JobTitle</th>
						<th>@UIResources.Shift</th>
						<th>@UIResources.Status</th>
						<th>@UIResources.GroupName</th>
						<th>@UIResources.EmpID</th>
						<th style="text-align:center">Name</th>
						<th style="text-align:center; width:10%;">Machine</th>
						<th>@UIResources.Location</th>
						<th>@UIResources.Action</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="modalEditMpp" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document" style="max-width:500px;">
		<div class="modal-content" id="OpenDialog">
		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->

<div class="modal fade" id="modalLeaveMpp" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document" style="max-width:500px;">
		<div class="modal-content" id="LeaveDialog">
		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
		<div class="modal-content">
			<div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
				<a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</a>
				<div class="media align-items-center">
					<span class="tx-color-03 d-none d-sm-block"><i data-feather="x-circle" class="wd-60 ht-60"></i></span>
					<div class="media-body mg-sm-l-20">
						<h4 class="tx-18 tx-sm-20 mg-b-2">@UIResources.Confirmation</h4>
					</div>
				</div><!-- media -->
			</div><!-- modal-header -->
			<div class="modal-body">
				<div class="form-group">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03" id="deleteconfirm"></label>
				</div>
			</div><!-- modal-body -->
			<div class="modal-footer pd-x-20 pd-y-15">
				<button type="button" class="btn btn-white" data-dismiss="modal" id="modal-btn-cancel">@UIResources.NO</button>
				<button type="submit" class="btn btn-primary" id="modal-btn-ok">@UIResources.YES</button>
			</div>
		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->

@section Scripts{
	<!-- Specific Page Vendor -->
	<script src="~/Content/dashforge/lib/prismjs/prism.js"></script>
	<script src="~/Content/dashforge/lib/moment/min/moment-with-locales.min.js"></script>
	<script src="~/Content/dashforge/lib/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="~/Content/dashforge/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
	<script src="~/Content/dashforge/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="~/Content/dashforge/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>

	<script type="text/javascript">

        var locationId = 0;
		var locationType = 'country';

		function GenerateExcel() {
			if ($('#startDate').val() == '' || $('#endDate').val() == '') {
				alert('Please select the date first');
			} else if ($('#ddlProdCenter1').val() == '0') {
				alert('Please select the production center first');
			} else {
				var notice = new PNotify({
					title: "Generating Excel file",
					text: "Please wait a few seconds....",
					addclass: 'stack-bottomright',
					width: "400px",
					type: 'success',
					stack: stack_bottomright,
				});

				notice.get().click(function () {
					notice.remove();
				});

				var startDateFilter = $('#startDate').val();
				var endDateFilter = $('#endDate').val();

				if ($('#ddlProdCenter1').val() == '0') {
					locationId = $('#ddlCountry1').val();
					locationType = 'country';
				} else if ($('#ddlDepartment1').val() == '0') {
					locationId = $('#ddlProdCenter1').val();
					locationType = 'productioncenter';
				} else if ($('#ddlSubDepartment1').val() == '0') {
					locationId = $('#ddlDepartment1').val();
					locationType = 'department';
				} else {
					locationId = $('#ddlSubDepartment1').val();
					locationType = 'subdepartment';
				}

				location.href = '@Url.Action("GenerateExcel", "MPP")?locID=' + locationId + '&startDateFilter=' + startDateFilter + '&endDateFilter=' + endDateFilter + '&locType=' + locationType;
			}
        };

        $('#btnSearch').on('click', function () {
			if ($('#startDate').val() == '' || $('#endDate').val() == '') {
				alert('Please select the date first');
				return false;
			} else if ($('#ddlProdCenter1').val() == '0') {
				alert('Please select the production center first');
				return false;
			}

			var startDateFilter = $('#startDate').val();
			var endDateFilter = $('#endDate').val();

			if ($('#ddlProdCenter1').val() == '0') {
				locationId = $('#ddlCountry1').val();
				locationType = 'country';
			} else if ($('#ddlDepartment1').val() == '0') {
				locationId = $('#ddlProdCenter1').val();
				locationType = 'productioncenter';
			} else if ($('#ddlSubDepartment1').val() == '0') {
				locationId = $('#ddlDepartment1').val();
				locationType = 'department';
			} else {
				locationId = $('#ddlSubDepartment1').val();
				locationType = 'subdepartment';
			}

			var table1 = $('#mppTable').dataTable({
				"autoWidth": false,
				"processing": true,
				"serverSide": true,
				"filter": true,
				"orderMulti": false,
				"destroy": true,
				"pageLength": 10,
				"ajax": {
					"url": fastApp.BaseUrl + "/Mpp/GetAllMPPWithParam",
					"data": { startDateFilter: startDateFilter, endDateFilter: endDateFilter, locID: locationId, locType: locationType },
					"type": "POST",
					"datatype": "json"
				},
				"rowCallback": function (row, data, index) {
					if (!data.IsWPPExist) {
						$('td', row).css('background-color', '#ffffb3');
					}

					if (data.IsHoliday) {
						$('td', row).css('background-color', '#f6c1bc');
					}
				},

				"columnDefs":
					[{
						"targets": [0],
						"searchable": false,
						"visible": false,
						"orderable": true
					},
					{
						"targets": [1],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [2],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [3],
						"searchable": false,
						"orderable": true
					},
					{
						"targets": [4],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [5],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [6],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [7],
						"searchable": false,
						"orderable": false
					},
					{
						"targets": [8],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [9],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [10],
						"searchable": false,
						"orderable": false
					}
					],

				"columns": [
					{ "data": "ID", "name": "ID", "autoWidth": false },
					{
						"data": "Date",
						render: function (data, type, row) {
							if (data)
								return moment(data).format("DD-MMM-YY");
							else
								return '';
						}
					},
					{ "data": "JobTitle", "name": "JobTitle", "autoWidth": true },
					{ "data": "Shift", "name": "Shift", "autoWidth": true },
					{ "data": "StatusMPP", "name": "StatusMPP", "autoWidth": true },
					{ "data": "GroupName", "name": "GroupName", "autoWidth": true },
					{ "data": "EmployeeID", "name": "EmployeeID", "autoWidth": true },
					{ "data": "EmployeeName", "name": "EmployeeName", "autoWidth": true },
					{ "data": "EmployeeMachine", "name": "EmployeeMachine", "autoWidth": true },
					{ "data": "Location", "name": "Location", "autoWidth": true },
					{
						"render": function (data, type, full, meta) {
							if (@Model.Access.hasWriteStr) {
								return '<button class="btn-menu btn-default" onclick="RenderActions(\'' + full['ID'] + '\')" data-toggle="modal" data-target="#modalEditMpp" title="Edit"><i class="fa fa-edit"></i></button>' +
									'<button class="btn-menu btn-default" onclick="OnLeave(\'' + full['ID'] + '\')" data-toggle="modal" data-target="#modalLeaveMpp" title="Taking Leave"><i class="fa fa-user-minus"></i></button>' +
									'<button class="btn-menu btn-default" onclick="Delete(\'' + full['ID'] + '\')" title="Delete"><i class="fa fa-trash-alt"></i></button>';
							} else
								return '-';
						}
					}
				]
			});
		});

		$(document).ready(function () {
			$('#loadingbar').hide();

            $('.hasDatepicker').datepicker({
                format: 'd-M-yy'
			});

			@*var table = $('#mppTable').dataTable({
				"autoWidth": false,
				"processing": true,
				"serverSide": true,
				"filter": true,
                "orderMulti": false,
                "destroy": true,
				"pageLength": 10,
				"ajax": {
					"url": fastApp.BaseUrl + "/Mpp/GetAll",
					"type": "POST",
					"datatype": "json"
				},
				"rowCallback": function( row, data, index ) {
					if ( !data.IsWPPExist )
					{
						$('td', row).css('background-color', '#ffffb3');
					}

					if ( data.IsHoliday )
					{
						$('td', row).css('background-color', '#f6c1bc');
					}
				},

				"columnDefs":
					[{
						"targets": [0],
						"searchable": false,
						"visible": false,
						"orderable": true
					},
					{
						"targets": [1],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [2],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [3],
						"searchable": false,
						"orderable": true
					},
					{
						"targets": [4],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [5],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [6],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [7],
						"searchable": false,
						"orderable": false
					},
					{
						"targets": [8],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [9],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [10],
						"searchable": false,
						"orderable": false
					}
					],

				"columns": [
                    { "data": "ID", "name": "ID", "autoWidth": false },
                    {
						"data": "Date",
						render: function (data, type, row) {
							if (data)
								return moment(data).format("DD-MMM-YY");
							else
								return '';
						}
					},
					{ "data": "JobTitle", "name": "JobTitle", "autoWidth": true },
					{ "data": "Shift", "name": "Shift", "autoWidth": true },
					{ "data": "StatusMPP", "name": "StatusMPP", "autoWidth": true },
					{ "data": "GroupName", "name": "GroupName", "autoWidth": true },
					{ "data": "EmployeeID", "name": "EmployeeID", "autoWidth": true },
					{ "data": "EmployeeName", "name": "EmployeeName", "autoWidth": true },
					{ "data": "EmployeeMachine", "name": "EmployeeMachine", "autoWidth": true },
					{ "data": "Location", "name": "Location", "autoWidth": true },
					{
						"render": function (data, type, full, meta) {
							if (@Model.Access.hasWriteStr) {
								return '<button class="btn-menu btn-default" onclick="RenderActions(\'' + full['ID'] + '\')" data-toggle="modal" data-target="#modalEditMpp" title="Edit"><i class="fa fa-edit"></i></button>' +
									   '<button class="btn-menu btn-default" onclick="OnLeave(\'' + full['ID'] + '\')" data-toggle="modal" data-target="#modalLeaveMpp" title="Taking Leave"><i class="fa fa-user-minus"></i></button>'+
									   '<button class="btn-menu btn-default" onclick="Delete(\'' + full['ID'] + '\')" title="Delete"><i class="fa fa-trash-alt"></i></button>';
							} else
								return '-';
						}
					}
				]
			});*@

			$('#mppdate').datepicker({
		        format: 'd-M-yy',
				changeMonth: true,
				changeYear: true
			});

			$('#startDate').datepicker({
				format: 'd-M-yy',
				changeMonth: true,
				changeYear: true
			});

			$('#endDate').datepicker({
				format: 'd-M-yy',
				changeMonth: true,
				changeYear: true
			});

			var stack_bottomright = { "dir1": "up", "dir2": "left", "firstpos1": 15, "firstpos2": 15 };

			var result = "@ViewBag.Result";
			var error = "@ViewBag.ErrorMessage";
			var message = "@ViewBag.Message";

			if (result != "") {
				if (result == "True") {
					if (message == "") {
						var notice = new PNotify({
							title: "@UIResources.Confirmation",
							text: "@UIResources.CreateSucceed",
							width: "400px",
							type: 'success',
							addclass: 'stack-bottomright',
							stack: stack_bottomright,
							delay: 2000
						});

						notice.get().click(function () {
							notice.remove();
						});
					}
					else {
						var notice = new PNotify({
							title: "@UIResources.Confirmation",
							text: message,
							width: "400px",
							type: 'success',
							addclass: 'stack-bottomright',
							stack: stack_bottomright,
							delay: 2000
						});

						notice.get().click(function () {
							notice.remove();
						});
					}
				}
				else {
					if (error == "") {
						var notice = new PNotify({
							title: "@UIResources.ErrorMessage",
							text: "@UIResources.CreateFailed",
							width: "400px",
							type: 'error',
							addclass: 'stack-bottomright',
							delay: 2000
						});

						notice.get().click(function () {
							notice.remove();
						});
					}
					else {
						var notice = new PNotify({
							title: "@UIResources.ErrorMessage",
							text: error,
							width: "400px",
							type: 'error',
							addclass: 'stack-bottomright',
							delay: 2000
						});

						notice.get().click(function () {
							notice.remove();
						});
					}
				}
			}

			$('#ddlCountry').change(function () {
				$.ajax({
					type: "post",
					url: fastApp.BaseUrl + "/Wpp/GetProductionCenterByCountryID",
					data: { id: $('#ddlCountry').val() },
					datatype: "json",
					traditional: true,
					success: function (data) {
						var ddlTemp = "<select id='ddlProdCenter'>";
						for (var i = 0; i < data.length; i++) {
							ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
						}
						ddlTemp = ddlTemp + '</select>';
						$('#ddlProdCenter').html(ddlTemp);
						$('#ddlDepartment').html("<select id='ddlDepartment'><option value='0'>- Please Select -</option></select>");
						$('#ddlSubDepartment').html("<select id='ddlSubDepartment'><option value='0'>- Please Select -</option></select>");
					}
				});
			});

			$('#ddlProdCenter').change(function () {
				$.ajax({
					type: "post",
					url: fastApp.BaseUrl + "/Wpp/GetDepartmentByProdCenterID",
					data: { id: $('#ddlProdCenter').val() },
					datatype: "json",
					traditional: true,
					success: function (data) {
						var ddlTemp = "<select id='ddlDepartment'>";
						for (var i = 0; i < data.length; i++) {
							ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
						}
						ddlTemp = ddlTemp + '</select>';
						$('#ddlDepartment').html(ddlTemp);
						$('#ddlSubDepartment').html("<select id='ddlSubDepartment'><option value='0'>- Please Select -</option></select>");
					}
				});
			});

			$('#ddlDepartment').change(function () {
				$.ajax({
					type: "post",
					url: fastApp.BaseUrl + "/Wpp/GetSubDepartmentByDepartmentID",
					data: { id: $('#ddlDepartment').val() },
					datatype: "json",
					traditional: true,
					success: function (data) {
						var ddlTemp = "<select id='ddlSubDepartment'>";
						for (var i = 0; i < data.length; i++) {
							ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
						}
						ddlTemp = ddlTemp + '</select>';
						$('#ddlSubDepartment').html(ddlTemp);
					}
				});
			});
		});

        $('#ddlCountry1').change(function () {
				$.ajax({
					type: "post",
					url: fastApp.BaseUrl + "/Mpp/GetProductionCenterByCountryID",
					data: { id: $('#ddlCountry1').val() },
					datatype: "json",
					traditional: true,
					success: function (data) {
						var ddlTemp = "<select id='ddlProdCenter1'>";
						for (var i = 0; i < data.length; i++) {
							ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
						}
						ddlTemp = ddlTemp + '</select>';
						$('#ddlProdCenter1').html(ddlTemp);
						$('#ddlDepartment1').html("<select id='ddlDepartment1'><option value='0'>- Please Select -</option></select>");
						$('#ddlSubDepartment1').html("<select id='ddlSubDepartment1'><option value='0'>- Please Select -</option></select>");
					}
				});
			});

		$('#ddlProdCenter1').change(function () {
				$.ajax({
					type: "post",
					url: fastApp.BaseUrl + "/Mpp/GetDepartmentByProdCenterID",
					data: { id: $('#ddlProdCenter1').val() },
					datatype: "json",
					traditional: true,
					success: function (data) {
						var ddlTemp = "<select id='ddlDepartment1'>";
						for (var i = 0; i < data.length; i++) {
							ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
						}
						ddlTemp = ddlTemp + '</select>';
						$('#ddlDepartment1').html(ddlTemp);
						$('#ddlSubDepartment1').html("<select id='ddlSubDepartment1'><option value='0'>- Please Select -</option></select>");
					}
				});
			});

		$('#ddlDepartment1').change(function () {
				$.ajax({
					type: "post",
					url: fastApp.BaseUrl + "/Mpp/GetSubDepartmentByDepartmentID",
					data: { id: $('#ddlDepartment1').val() },
					datatype: "json",
					traditional: true,
					success: function (data) {
						var ddlTemp = "<select id='ddlSubDepartment1'>";
						for (var i = 0; i < data.length; i++) {
							ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
						}
						ddlTemp = ddlTemp + '</select>';
						$('#ddlSubDepartment1').html(ddlTemp);
					}
				});
            });

		function RenderActions(id) {
			$("#OpenDialog").load(fastApp.BaseUrl + "/Mpp/Edit/" + id);
		};

		function OnLeave(id) {
			$("#LeaveDialog").load(fastApp.BaseUrl + "/Mpp/EditLeave/" + id);
		};

		var Delete = function (ID) {
			$("#deleteconfirm").empty();
			$("#deleteconfirm").append("@UIResources.DeleteConfirmation");
			$("#deleteconfirm").append($('<span>').css('color', 'Red').text("@UIResources.TheSelectedData"));
			$("#deleteconfirm").append(" ?");
			$("#deleteModal").modal('show');
			$("#modal-btn-ok").unbind().one("click", function () {
				$("#deleteModal").modal('hide');
				DeleteUserMachineType(ID);
			});
		}

		var stack_bottomright = { "dir1": "up", "dir2": "left", "firstpos1": 15, "firstpos2": 15 };

		function DeleteUserMachineType(Id) {
			$.ajax({
				url: fastApp.BaseUrl + '/Mpp/Delete?id=' + Id,
				type: 'POST',
				success: function (result) {
					if (result.Status) {
						var notice = new PNotify({
							title: "@UIResources.Confirmation",
							text: "@UIResources.DeleteSucceed",
							width: "400px",
							type: 'success',
							addclass: 'stack-bottomright',
							stack: stack_bottomright,
							delay: 2000
						});

						notice.get().click(function () {
							notice.remove();
						});
					}
					else {
						var notice = new PNotify({
							title: "@UIResources.ErrorMessage",
							text: "@UIResources.DeleteFailed",
							width: "400px",
							type: 'error',
							addclass: 'stack-bottomright',
							delay: 2000
						});

						notice.get().click(function () {
								notice.remove();
							});
						}
				},
				complete: function (data) {
					setTimeout(function () {
						location.reload();
					}, 1000);
				}
			});
		}

	</script>
}

