@model Fast.Web.Models.WppPrimModel
@using Fast.Web.Resources;

@section CSS_lib{
	<!-- Specific Page Vendor CSS -->
	<link href="~/Content/dashforge/lib/typicons.font/typicons.css" rel="stylesheet">
	<link href="~/Content/dashforge/lib/prismjs/themes/prism-vs.css" rel="stylesheet">
	<link href="~/Content/dashforge/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="~/Content/dashforge/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
}

@section Styles{
	<style>
		.dataTables_scrollHead table, .dataTables_scrollBody table {
			width: 2000px !important;
		}
		.df-container {
			font-size: 0.875rem;
			letter-spacing: normal;
			padding: 10px;
			background-color: #fff;
			border: 1px solid rgba(72, 94, 144, 0.16);
			position: relative; }
		.df-container::before {
			content: attr(data-label);
			display: block;
			position: absolute;
			top: -6px;
			left: 5px;
			font-size: 8px;
			font-weight: 600;
			font-family: -apple-system, BlinkMacSystemFont, "Inter UI", Roboto, sans-serif;
			letter-spacing: 1px;
			text-transform: uppercase;
			background-color: inherit;
			color: #8392a5;
			padding: 0 5px; }
		.df-container.df-inverse {
			background-color: #1c273c;
			color: rgba(255, 255, 255, 0.7);
			border-width: 0; }
		.df-container.df-inverse::before {
			background-color: #3b4863;
			top: -16px;
			left: 0;
		}
	</style>
}


<div class="modal fade" id="modalUploadWppPrimary" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			@using (Html.BeginForm("Upload", "WppPrimary", FormMethod.Post, new { encType = "multipart/form-data", @id = "UploadFormPrimary" }))
			{
				@Html.AntiForgeryToken()
				<div class="modal-header pd-y-20 pd-x-20 pd-sm-x-50">
					<div class="media align-items-center">
						<span class="tx-color-03 d-none d-sm-block"><i data-feather="share" class="wd-60 ht-60"></i></span>
						<div class="media-body mg-sm-l-20">
							<h4 class="tx-18 tx-sm-20 mg-b-2">@UIResources.Upload</h4>
							<p class="tx-13 tx-color-03 mg-b-0">@UIResources.WeeklyProductionPlanPrimary</p>
						</div>
					</div><!-- media -->
				</div><!-- modal-header -->
				<div class="modal-body pd-sm-t-30 pd-sm-b-40 pd-sm-x-30">
					<div class="form-group ">
						<div class="row row-sm mg-b-10">
							<div class="col-4" id="labelSubDepartment">
								<label class="col-form-label mg-b-5 tx-color-03">@UIResources.ProductionCenter</label>
							</div>
							<div class="col-8" id="inputSubDepartment">
								@Html.DropDownListFor(x => x.ProdCenterID, (IEnumerable<SelectListItem>)ViewBag.ProductionCenterList, new { @class = "form-control", @id = "ddlProductionCenter" })
							</div>
							<div class="col-4">
								<label class="col-form-label mg-b-5 tx-color-03">@UIResources.Year</label>
							</div>
							<div class="col-8">
								@Html.DropDownListFor(x => x.Year, (IEnumerable<SelectListItem>)ViewBag.YearList, "- Please Select -", new { @class = "form-control", @id = "ddlYearUpload" })
							</div>
							<div class="col-4">
								<label class="col-form-label mg-b-5 tx-color-03">Week</label>
							</div>
							<div class="col-8">
								@Html.DropDownListFor(x => x.Week, (IEnumerable<SelectListItem>)ViewBag.WeekList, new { @class = "form-control", @id = "ddlWeekUpload" })
							</div>
						</div>
						<br />
						<div class="form-control-static">
							<span class="btn btn-success fileinput-button btn-block">
								@Html.TextBoxFor(x => x.PostedFilename, null, new { @type = "file", @accept = ".xls, .xlsx", @required = "required", @id = "customFilePrimary" })
							</span>
						</div>
					</div>
					@*<div class="progress" id="loadingbarPrimary" style="height: 30px;">
							<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Please wait a few seconds...</div>
						</div>*@
				</div>
				<div class="modal-footer pd-x-20 pd-y-15">
					<button type="button" class="btn btn-white" data-dismiss="modal" id="btnCancelPrimary">@UIResources.Cancel</button>
					<button type="button" class="btn btn-primary" onclick="OnSubmitPrimary()" id="btnSubmitPrimary">@UIResources.Upload</button>
				</div>
			}
		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->

<div class="content content-fixed bd-b">
	<div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
		<div class="d-sm-flex align-items-center justify-content-between">
			<div>
				<h4 class="mg-b-5">@UIResources.WppPrimaryList</h4>
				<p class="mg-b-0 tx-color-03">@UIResources.WppPrimaryManagement</p>
			</div>
			<div class="mg-t-20 mg-sm-t-0">
				<div class="row">
					@if (Model.Access.hasPrint)
					{
						<div id="buttonprint" class="dtButton"></div>
					}

					@if (Model.Access.hasWrite)
					{
						<button class="btn btn-primary btn-sm pd-x-15 btn-uppercase dtAddButton" data-toggle="modal" data-target="#modalUploadWppPrimary">
							<i data-feather="share" class="mg-r-5"></i> Upload
						</button>
						<button class="btn btn-primary btn-sm pd-x-15 btn-uppercase dtAddButton" onclick="location.href='@Url.Action("DownloadTemplatePrimary", "WppPrimary")'">
							<i data-feather="download" class="mg-r-5"></i> Template
						</button>
						<button class="btn btn-primary btn-sm pd-x-15 btn-uppercase dtAddButton" onclick="location.href='@Url.Action("Detail", "WppPrimary")'">
							<i data-feather="layers" class="mg-r-5"></i> Detail
						</button>
						<button class="btn btn-primary btn-sm pd-x-15 btn-uppercase dtAddButton" onclick="GenerateSimulationExcel()">
							<i data-feather="download" class="mg-r-5"></i>Export Excel
						</button>
					}
				</div>
			</div>
		</div><!-- End content header -->
		<br />
		<div data-label="Filter" class="df-example demo-table dtMarginTop">
			<div class="row">
				<div class="col-sm-1">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.Country</label>
				</div>
				<div class="col-sm-2">
					@Html.DropDownListFor(x => x.CountryID, (IEnumerable<SelectListItem>)ViewBag.CountryList, new { @class = "form-control", @id = "ddlCountry1" })
				</div>
				<div class="col-sm-1">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.ProdCenter</label>
				</div>
				<div class="col-sm-2">
					@Html.DropDownListFor(x => x.ProdCenterID, (IEnumerable<SelectListItem>)ViewBag.ProductionCenterList, new { @class = "form-control", @id = "ddlProdCenter1" })
				</div>
				<div class="col-sm-1">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.Department</label>
				</div>
				<div class="col-sm-2">
					@Html.DropDownListFor(x => x.DepartmentID, (IEnumerable<SelectListItem>)ViewBag.DepartmentList, new { @class = "form-control", @id = "ddlDepartment1" })
				</div>
				<div class="col-sm-1">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.SubDepart</label>
				</div>
				<div class="col-sm-2">
					@Html.DropDownListFor(x => x.SubDepartmentID, (IEnumerable<SelectListItem>)ViewBag.SubDepartmentList, new { @class = "form-control", @id = "ddlSubDepartment1" })
				</div>
			</div><br />
			<div class="row">
				<div class="col-3">
					<div data-label="Start" class="df-container demo-forms">
						<div class="row row-sm">
							<div class="col-2">
								<label class="col-form-label mg-b-5 tx-color-03">@UIResources.Year</label>
							</div>
							<div class="col-4">
								@Html.DropDownListFor(x => x.Year, (IEnumerable<SelectListItem>)ViewBag.YearList, "- Please Select -", new { @class = "form-control", @id = "ddlStartYearFilter" })
							</div>
							<div class="col-2">
								<label class="col-form-label mg-b-5 tx-color-03">Week</label>
							</div>
							<div class="col-4">
								@Html.DropDownListFor(x => x.Week, (IEnumerable<SelectListItem>)ViewBag.WeekList, new { @class = "form-control", @id = "ddlStartWeekFilter" })
							</div>
						</div><!-- row -->
					</div>
				</div>
				<div class="col-3">
					<div data-label="End" class="df-container demo-forms">
						<div class="row row-sm">
							<div class="col-2">
								<label class="col-form-label mg-b-5 tx-color-03">@UIResources.Year</label>
							</div>
							<div class="col-4">
								@Html.DropDownListFor(x => x.EndYear, (IEnumerable<SelectListItem>)ViewBag.YearList, "- Please Select -", new { @class = "form-control", @id = "ddlEndYearFilter" })
							</div>
							<div class="col-2">
								<label class="col-form-label mg-b-5 tx-color-03">Week</label>
							</div>
							<div class="col-4">
								@Html.DropDownListFor(x => x.EndWeek, (IEnumerable<SelectListItem>)ViewBag.WeekList, new { @class = "form-control", @id = "ddlEndWeekFilter" })
							</div>
						</div><!-- row -->
					</div>
				</div>
				<div class="col-sm-1">
					<button id="btnSearch" class="btn btn-sm pd-x-15 mg-y-15 btn-primary btn-uppercase btn-block">Search</button>
				</div>
			</div>
		</div>

		<div data-label="WppPrim Data" class="df-example demo-table dtMarginTop">
			<table class="table table-bordered table-striped mb-none border-bottom-0 table-fast" id="wppPrimaryTable">
				<thead>
					<tr>
						<th>@UIResources.ID</th>
						<th>@UIResources.Blend</th>
						<th>@UIResources.VolPerOps</th>
						<th>@UIResources.StartDate</th>
						<th>@UIResources.Week</th>
						<th>@UIResources.Location</th>
						<th>@UIResources.Monday</th>
						<th>@UIResources.Tuesday</th>
						<th>@UIResources.Wednesday</th>
						<th>@UIResources.Thursday</th>
						<th>@UIResources.Friday</th>
						<th>@UIResources.Saturday</th>
						<th>@UIResources.Sunday</th>
						<th>@UIResources.Total</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

@section Scripts{
	<!-- Specific Page Vendor -->
	<script src="~/Content/dashforge/lib/prismjs/prism.js"></script>
	<script src="~/Content/dashforge/lib/moment/min/moment-with-locales.min.js"></script>
	<script src="~/Content/dashforge/lib/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="~/Content/dashforge/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
	<script src="~/Content/dashforge/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="~/Content/dashforge/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>

	<script type="text/javascript">
		$('#ddlStartYearFilter').change(function () {
			$.ajax({
				type: "post",
				url: fastApp.BaseUrl + "/WppPrimary/GetWeekByYear",
				data: { year: $('#ddlStartYearFilter').val() },
				datatype: "json",
				traditional: true,
				success: function (data) {
					var ddlTemp = "<select id='ddlWeek'>";
					for (var i = 0; i < data.length; i++) {
						ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
					}
					ddlTemp = ddlTemp + '</select>';
					$('#ddlStartWeekFilter').html(ddlTemp);
				}
			});
        });

		$('#ddlEndYearFilter').change(function () {
			$.ajax({
				type: "post",
				url: fastApp.BaseUrl + "/WppPrimary/GetWeekByYear",
				data: { year: $('#ddlEndYearFilter').val() },
				datatype: "json",
				traditional: true,
				success: function (data) {
					var ddlTemp = "<select id='ddlEndWeek'>";
					for (var i = 0; i < data.length; i++) {
						ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
					}
					ddlTemp = ddlTemp + '</select>';
					$('#ddlEndWeekFilter').html(ddlTemp);
				}
			});
		});

		$('#ddlYearUpload').change(function () {
			$.ajax({
				type: "post",
				url: fastApp.BaseUrl + "/WppPrimary/GetWeekByYear",
				data: { year: $('#ddlYearUpload').val() },
				datatype: "json",
				traditional: true,
				success: function (data) {
					var ddlTemp = "<select id='ddlWeek'>";
					for (var i = 0; i < data.length; i++) {
						ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
					}
					ddlTemp = ddlTemp + '</select>';
					$('#ddlWeekUpload').html(ddlTemp);
				}
			});
		});

		var locationId = 0;
		var locationType = 'country';

        $('#btnSearch').on('click', function () {

			if ($('#ddlProdCenter1').val() == '0') {
				locationId = $('#ddlCountry1').val();
				locationType = 'country';
			} else if ($('#ddlDepartment1').val() == '0') {
				locationId = $('#ddlProdCenter1').val();
				locationType = 'productioncenter';
			} else if ($('#ddlSubDepartment1').val() == '0') {
				locationId = $('#ddlDepartment1').val();
				locationType = 'department';
			} else {
				locationId = $('#ddlSubDepartment1').val();
				locationType = 'subdepartment';
			}

			$('#wppPrimaryTable').dataTable({
				"autoWidth": false,
				"processing": true,
				"serverSide": true,
				"filter": true,
				"orderMulti": false,
				"destroy": true,
				"pageLength": 50,
				"ajax": {
					"url": fastApp.BaseUrl + "/WppPrimary/GetAllSimulationWithParam",
					"data": { year: $('#ddlStartYearFilter').val(), week: $('#ddlStartWeekFilter').val(), endYear: $('#ddlEndYearFilter').val(), endWeek: $('#ddlEndWeekFilter').val(), locID: locationId, locType: locationType },
					"type": "POST",
					"datatype": "json"
				},

				"columnDefs":
					[{
						"targets": [0],
						"searchable": false,
						"visible": false,
						"orderable": false
					},
					{
						"targets": [1],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [2],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [3],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [4],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [5],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [6],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [7],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [8],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [9],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [10],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [11],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [12],
						"searchable": true,
						"orderable": true
                    },
					{
						"targets": [13],
						"searchable": false,
						"orderable": false
					}
					],

				"columns": [
					{ "data": "ID", "name": "ID", "autoWidth": false, "visible": false },
					{ "data": "Blend", "name": "Blend", "autoWidth": true },
					{ "data": "VolPerOps", "name": "VolPerOps", "autoWidth": true },
                    {
                        "data": "StartDate",
                        render: function (data, type, row) {
							if (data)
								return moment(data).format("DD-MMM-YY");
							else
								return '';
						}
                    },
					{ "data": "Week", "name": "Week", "autoWidth": true },
					{ "data": "Location", "name": "Location", "autoWidth": true },
					{ "data": "Monday", "name": "Monday", "autoWidth": true },
					{ "data": "Tuesday", "name": "Tuesday", "autoWidth": true },
					{ "data": "Wednesday", "name": "Wednesday", "autoWidth": true },
					{ "data": "Thursday", "name": "Thursday", "autoWidth": true },
					{ "data": "Friday", "name": "Friday", "autoWidth": true },
					{ "data": "Saturday", "name": "Saturday", "autoWidth": true },
					{ "data": "Sunday", "name": "Sunday", "autoWidth": true },
					{ "data": "Total", "name": "Total", "autoWidth": true }
				]
			});
        });

        $(document).ready(function () {

            $('.hasDatepicker').datepicker({
				format: 'd-M-yy',
				changeMonth: true,
				changeYear: true,
			    setDate: new Date()
            });

			var table = $('#wppPrimaryTable').dataTable({
				"autoWidth": false,
				"processing": true,
				"serverSide": true,
				"filter": true,
				"orderMulti": false,
                "pageLength": 50,
                "destroy": true,
				"ajax": {
					"url": fastApp.BaseUrl + "/WppPrimary/GetAllSimulation",
					"type": "POST",
					"datatype": "json"
				},

				"columnDefs":
					[{
						"targets": [0],
						"searchable": false,
						"visible": false,
						"orderable": false
					},
					{
						"targets": [1],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [2],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [3],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [4],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [5],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [6],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [7],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [8],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [9],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [10],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [11],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [12],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [13],
						"searchable": false,
						"orderable": false
					}
					],

				"columns": [
					{ "data": "ID", "name": "ID", "autoWidth": false, "visible": false },
					{ "data": "Blend", "name": "Blend", "autoWidth": true },
					{ "data": "VolPerOps", "name": "VolPerOps", "autoWidth": true },
                    {
                        "data": "StartDate",
                        render: function (data, type, row) {
							if (data)
								return moment(data).format("DD-MMM-YY");
							else
								return '';
						}
                    },
					{ "data": "Week", "name": "Week", "autoWidth": true },
					{ "data": "Location", "name": "Location", "autoWidth": true },
					{ "data": "Monday", "name": "Monday", "autoWidth": true },
					{ "data": "Tuesday", "name": "Tuesday", "autoWidth": true },
					{ "data": "Wednesday", "name": "Wednesday", "autoWidth": true },
					{ "data": "Thursday", "name": "Thursday", "autoWidth": true },
					{ "data": "Friday", "name": "Friday", "autoWidth": true },
					{ "data": "Saturday", "name": "Saturday", "autoWidth": true },
					{ "data": "Sunday", "name": "Sunday", "autoWidth": true },
					{ "data": "Total", "name": "Total", "autoWidth": true }
				]
			});

var stack_bottomright = { "dir1": "up", "dir2": "left", "firstpos1": 15, "firstpos2": 15 };

			var result = "@ViewBag.Result";
			var error = "@ViewBag.ErrorMessage";
			var message = "@ViewBag.Message";

			if (result != "") {
				if (result == "True") {
					if (message == "") {
						var notice = new PNotify({
							title: "@UIResources.Confirmation",
							text: "@UIResources.CreateSucceed",
							width: "400px",
							type: 'success',
							addclass: 'stack-bottomright',
							stack: stack_bottomright,
							delay: 2000
						});
						notice.get().click(function () {
							notice.remove();
						});
					} else {
						var notice = new PNotify({
							title: "@UIResources.Confirmation",
							text: message,
							width: "400px",
							type: 'success',
							addclass: 'stack-bottomright',
							stack: stack_bottomright,
							delay: 2000
						});
						notice.get().click(function () {
							notice.remove();
						});
					}
				}
				else {
					if (error == "") {
						var notice = new PNotify({
							title: "@UIResources.ErrorMessage",
							text: "@UIResources.CreateFailed",
							width: "400px",
							type: 'error',
							addclass: 'stack-bottomright',
							delay: 2000
						});

						notice.get().click(function () {
							notice.remove();
						});
					}
					else {
						var notice = new PNotify({
							title: "@UIResources.ErrorMessage",
							text: error,
							width: "400px",
							type: 'error',
							addclass: 'stack-bottomright',
							delay: 2000
						});

						notice.get().click(function () {
							notice.remove();
						});
					}
				}
			}
		});

		$('#ddlProdCenter1').change(function () {
			$.ajax({
				type: "post",
				url: fastApp.BaseUrl + "/WppPrimary/GetDepartmentByProdCenterID",
				data: { id: $('#ddlProdCenter1').val() },
				datatype: "json",
				traditional: true,
				success: function (data) {
					var ddlTemp = "<select id='ddlDepartment1'>";
					for (var i = 0; i < data.length; i++) {
						ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
					}
					ddlTemp = ddlTemp + '</select>';
					$('#ddlDepartment1').html(ddlTemp);
					$('#ddlSubDepartment1').html("<select id='ddlSubDepartment1'><option value='0'>- Please Select -</option></select>");
				}
			});
		});

		$('#ddlDepartment1').change(function () {
			$.ajax({
				type: "post",
				url: fastApp.BaseUrl + "/WppPrimary/GetSubDepartmentByDepartmentID",
				data: { id: $('#ddlDepartment1').val() },
				datatype: "json",
				traditional: true,
				success: function (data) {
					var ddlTemp = "<select id='ddlSubDepartment1'>";
					for (var i = 0; i < data.length; i++) {
						ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
					}
					ddlTemp = ddlTemp + '</select>';
					$('#ddlSubDepartment1').html(ddlTemp);
				}
			});
		});

		var stack_bottomright = { "dir1": "up", "dir2": "left", "firstpos1": 15, "firstpos2": 15 };

		function GenerateSimulationExcel() {
			var notice = new PNotify({
				title: "Generating Excel file",
				text: "Please wait a few seconds....",
				addclass: 'stack-bottomright',
				width: "400px",
				type: 'success',
				stack: stack_bottomright,
			});

			notice.get().click(function () {
				notice.remove();
			});

			if ($('#ddlProdCenter1').val() == '0') {
				locationId = $('#ddlCountry1').val();
				locationType = 'country';
			} else if ($('#ddlDepartment1').val() == '0') {
				locationId = $('#ddlProdCenter1').val();
				locationType = 'productioncenter';
			} else if ($('#ddlSubDepartment1').val() == '0') {
				locationId = $('#ddlDepartment1').val();
				locationType = 'department';
			} else {
				locationId = $('#ddlSubDepartment1').val();
				locationType = 'subdepartment';
			}

			location.href = '@Url.Action("GenerateSimulationExcel", "WppPrimary")?year=' +  $('#ddlStartYearFilter').val() + '&week=' +  $('#ddlStartWeekFilter').val() + '&endYear=' +  $('#ddlEndYearFilter').val() + '&endWeek=' +  $('#ddlEndWeekFilter').val() + '&locID=' + locationId + '&locType=' + locationType;
        };

		function OnSubmitPrimary() {
			$('#loadingbarPrimary').show();
			$("#btnSubmitPrimary").attr("disabled", true);
			$("#btnCancelPrimary").attr("disabled", true);

			document.getElementById('UploadFormPrimary').submit();
			return (true);
		}

	</script>
}
