@using Fast.Web.Resources;

<div class="container ht-100p tx-center mg-t-150">
	<div class="ht-100p d-flex flex-column align-items-center justify-content-center">
		<div class="wd-70p wd-sm-250 wd-lg-300 mg-b-15"><img src="~/Content/dashforge/assets/img/img20.png" class="img-fluid" alt=""></div>
		<h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">@UIResources.InternalServerError</h1>
		<h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-20">@UIResources.OopssInternalServerError</h5>
		<p class="tx-color-03 mg-b-30">@ViewBag.Message</p>
		<p class="tx-color-03 mg-b-30">@UIResources.PleaseContactITSupport</p>
		<div class="mg-b-40"><button class="btn btn-primary bd-2 pd-x-30" onclick="location.href='@Url.Action("Index", "Home")'">@UIResources.BackToHome</button></div>
	</div>
</div><!-- container -->
