@model Fast.Web.Models.AccessRightTreeModel
@using Fast.Web.Resources;

@section CSS_lib{
	<link rel="stylesheet" href="~/Content/theme/lib/jquery-treegrid/css/styles.css" />
	<link rel="stylesheet" href="~/Content/theme/lib/jquery-treegrid/css/jquery.treegrid.css" />
	<link rel="stylesheet" href="~/Content/theme/lib/jquery-treegrid/css/default.min.css" />
}

<div class="content content-fixed bd-b">
	<div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
		<div class="d-sm-flex justify-content-between">
			<div>
				<h4 class="mg-b-5">@UIResources.AccessRightList</h4>
				<p class="mg-b-0 tx-color-03">@UIResources.AccessRightManagement</p>
			</div>
			<div class="mg-t-20 mg-sm-t-0">
				<div class="row">
					@if (Model.Access.hasPrint)
					{
						<button class="btn btn-outline-secondary btn-sm pd-x-15 btn-uppercase dtAddButton" onclick="GenerateExcel()">
							<span><i class="fa fa-lg fa-file-excel"></i> EXCEL</span>
						</button>
					}
					<button class="btn btn-primary btn-sm pd-x-15 btn-uppercase dtAddButton" onclick="onSave()">
						<span><i class="fa fa-lg fa-save"></i> SAVE</span>
					</button>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-sm-2">
				<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.ProductionCenter</label>
			</div>
			<div class="col-sm-3">
				@Html.DropDownListFor(x => x.ProductionCenterID, (IEnumerable<SelectListItem>)ViewBag.ProductionCenterList, new { @class = "form-control", @id = "ddlProdCenter1" })
			</div>
			<div class="col-sm-1">
				<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.Department</label>
			</div>
			<div class="col-sm-3">
				@Html.DropDownListFor(x => x.DepartmentID, (IEnumerable<SelectListItem>)ViewBag.DepartmentList, new { @class = "form-control", @id = "ddlDepartment1" })
			</div>
			<div class="col-sm-1">
				<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.SubDepart</label>
			</div>
			<div class="col-sm-2">
				@Html.DropDownListFor(x => x.SubDepartmentID, (IEnumerable<SelectListItem>)ViewBag.SubDepartmentList, new { @class = "form-control", @id = "ddlSubDepartment1" })
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-sm-2">
				<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.RoleName</label>
			</div>
			<div class="col-sm-3">
				<div class="dtButton">
					@Html.DropDownListFor(x => x.RoleName, (IEnumerable<SelectListItem>)ViewBag.RoleList, new { @class = "form-control", @id = "ddlRoleTop" })
				</div>
			</div>
		</div>
		<div data-label="Example" class="df-example demo-table dtMarginTop">
			<table class="tree table-bordered" id="accessRightTable">
				<thead>
					<tr class="headerTree">
						<td>@UIResources.Menu</td>
						<td>@UIResources.SubMenu</td>
						<td>@UIResources.Read</td>
						<td>@UIResources.Write</td>
						<td>@UIResources.Print</td>
					</tr>
				</thead>
				<tbody>
					@foreach (var parent in Model.Parents)
					{
						<tr class="treegrid-@parent.MenuID" title="parent">
							<td>@parent.MenuName</td>
							<td><input type="hidden" value="@parent.MenuID" name="@parent.ID"></td>
							<td><input type="checkbox" name="Read" checked="@parent.Read" /></td>
							<td><input type="checkbox" name="Write" checked="@parent.Write" /></td>
							<td><input type="checkbox" name="Print" checked="@parent.Print" /></td>
						</tr>
						foreach (var child in parent.Children)
						{
							<tr class="treegrid-@child.MenuID treegrid-parent-@parent.MenuID">
								<td><input type="hidden" value="@child.MenuID" name="@child.ID"></td>
								<td>@child.MenuName</td>
								<td><input type="checkbox" name="Read" checked="@child.Read" /></td>
								<td><input type="checkbox" name="Write" checked="@child.Write" /></td>
								<td><input type="checkbox" name="Print" checked="@child.Print" /></td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
		<div class="modal-content">
			<div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
				<a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</a>
				<div class="media align-items-center">
					<span class="tx-color-03 d-none d-sm-block"><i data-feather="x-circle" class="wd-60 ht-60"></i></span>
					<div class="media-body mg-sm-l-20">
						<h4 class="tx-18 tx-sm-20 mg-b-2">@UIResources.Confirmation</h4>
					</div>
				</div><!-- media -->
			</div><!-- modal-header -->
			<div class="modal-body">
				<div class="form-group">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03" id="saveconfirm"></label>
				</div>
			</div><!-- modal-body -->
			<div class="modal-footer pd-x-20 pd-y-15">
				<button type="button" class="btn btn-white" data-dismiss="modal" id="modal-btn-cancel">@UIResources.NO</button>
				<button type="submit" class="btn btn-primary" id="modal-btn-ok">@UIResources.YES</button>
			</div>
		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->

@section Scripts{
	<script src="~/Content/theme/lib/jquery-treegrid/js/jquery.treegrid.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$('.tree').treegrid();
		});

		var stack_bottomright = { "dir1": "up", "dir2": "left", "firstpos1": 15, "firstpos2": 15 };

		function GenerateExcel() {
			var notice = new PNotify({
				title: "Generating Excel file",
				text: "Please wait a few seconds....",
				addclass: 'stack-bottomright',
				width: "400px",
				type: 'success',
				stack: stack_bottomright,
			});

			notice.get().click(function () {
				notice.remove();
			});

			var locationID = 0;
			if ($('#ddlProdCenter1').val() == '0') {
				locationID = 1;
			} else if ($('#ddlDepartment1').val() == '0') {
				locationID = $('#ddlProdCenter1').val();
			} else if ($('#ddlSubDepartment1').val() == '0') {
				locationID = $('#ddlDepartment1').val();
			} else {
				locationID = $('#ddlSubDepartment1').val();
			}

			location.href = '@Url.Action("ExportExcel", "AccessRight")?locID=' + locationID;
		};

		function onSave() {
			$("#saveconfirm").empty();
			$("#saveconfirm").append("Are you sure. You want to save the changes");			
			$("#saveconfirm").append(" ?");
			$("#saveModal").modal('show');
			$("#modal-btn-ok").unbind().one("click", function () {
				$("#saveModal").modal('hide');
				Save();
			});
		}

		function Save() {
			var locationID = 0;

			if ($('#ddlSubDepartment1').val() != '0') {
				locationID = $('#ddlSubDepartment1').val();
			} else if ($('#ddlDepartment1').val() != '0') {
				locationID = $('#ddlDepartment1').val();
			} else if ($('#ddlProdCenter1').val() != '0') {
				locationID = $('#ddlProdCenter1').val();
			} else {
				locationID = 1;
			}

			var accessright = {};
			var accessList = new Array();
			$('#accessRightTable > tbody > tr').each(function () {
				var row = $(this);
				var access = {};
				access.RoleName = $('#ddlRoleTop').val();

				$(row).find('td').each(function () {
					if ($("[type='checkbox']", this).val()) {
						var hide = $("[type='checkbox']", this);
						var name = hide.attr('name');

						if (name == 'Read') {
							access.Read = hide.prop('checked');
						} else if (name == 'Write') {
							access.Write = hide.prop('checked');
						} else {
							access.Print = hide.prop('checked');
						}
					}
					else if ($("[type='hidden']", this).val()) {
						var hide = $("[type='hidden']", this);
						access.MenuID = hide.val();
					}
				});

				accessList.push(access);
			});

			accessright.accessList = accessList;
			accessright.locationID = locationID;

            //Send the JSON array to Controller using AJAX.
			$.ajax({
				type: "POST",
				url: fastApp.BaseUrl + "/AccessRight/UpdatePrivileges",
				data: JSON.stringify(accessright),
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (result) {
					if (result.Status) {
						var notice = new PNotify({
							title: "@UIResources.Confirmation",
							text: "@UIResources.UpdateSucceed",
							width: "400px",
							type: 'success',
							addclass: 'stack-bottomright',
							stack: stack_bottomright,
							delay: 2000
						});

						notice.get().click(function () {
							notice.remove();
						});
					}
					else {
						var notice = new PNotify({
							title: "@UIResources.ErrorMessage",
							text: "@UIResources.UpdateFailed",
							width: "400px",
							type: 'error',
							addclass: 'stack-bottomright',
							delay: 2000
						});

						notice.get().click(function () {
							notice.remove();
						});
					}
				}
			});
		};

		$('#ddlRoleTop').change(function () {
			var locationID = 0;

			if ($('#ddlSubDepartment1').val() != '0') {
				locationID = $('#ddlSubDepartment1').val();
			} else if ($('#ddlDepartment1').val() != '0') {
				locationID = $('#ddlDepartment1').val();
			} else if ($('#ddlProdCenter1').val() != '0') {
				locationID = $('#ddlProdCenter1').val();
			} else {
				locationID = 1;
			}

			var url = new URL(window.location.href);
			url.searchParams.set('roleName', $('#ddlRoleTop').val());
			url.searchParams.set('locationID', locationID);
			window.location.href = url.href;
		});

		$('#ddlProdCenter1').change(function () {
			$.ajax({
				type: "post",
				url: fastApp.BaseUrl + "/AccessRight/GetDepartmentByProdCenterID",
				data: { id: $('#ddlProdCenter1').val() },
				datatype: "json",
				traditional: true,
				success: function (data) {
					var ddlTemp = "<select id='ddlDepartment1'>";
					for (var i = 0; i < data.length; i++) {
						ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
					}
					ddlTemp = ddlTemp + '</select>';
					$('#ddlDepartment1').html(ddlTemp);
					$('#ddlSubDepartment1').html("<select id='ddlSubDepartment1'><option value='0'>- Please Select -</option></select>");
				}
			});

			var locationID = 0;

			if ($('#ddlProdCenter1').val() != '0') {
				locationID = $('#ddlProdCenter1').val();
			}

			var url = new URL(window.location.href);
			url.searchParams.set('roleName', $('#ddlRoleTop').val());
			url.searchParams.set('locationID', locationID);
			window.location.href = url.href;
		});

		$('#ddlDepartment1').change(function () {
			$.ajax({
				type: "post",
				url: fastApp.BaseUrl + "/AccessRight/GetSubDepartmentByDepartmentID",
				data: { id: $('#ddlDepartment1').val() },
				datatype: "json",
				traditional: true,
				success: function (data) {
					var ddlTemp = "<select id='ddlSubDepartment1'>";
					for (var i = 0; i < data.length; i++) {
						ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
					}
					ddlTemp = ddlTemp + '</select>';
					$('#ddlSubDepartment1').html(ddlTemp);
				}
			});

			var locationID = 0;

			if ($('#ddlDepartment1').val() != '0') {
				locationID = $('#ddlDepartment1').val();
			}

			var url = new URL(window.location.href);
			url.searchParams.set('roleName', $('#ddlRoleTop').val());
			url.searchParams.set('locationID', locationID);
			window.location.href = url.href;
		});

		$('#ddlSubDepartment1').change(function () {
			var locationID = 0;

			if ($('#ddlSubDepartment1').val() != '0') {
				locationID = $('#ddlSubDepartment1').val();
			}

			var url = new URL(window.location.href);
			url.searchParams.set('roleName', $('#ddlRoleTop').val());
			url.searchParams.set('locationID', locationID);
			window.location.href = url.href;
		});

		$('#accessRightTable tbody').on('click', 'td', function (e) {
			if ($(e.target).attr("type") === "checkbox") {
				var privilegeName = $(e.target).attr("name");
				var isChecked = $(e.target)[0].checked;
				var selectedTr = $(this).closest('tr');
				var title = selectedTr.attr("title");

				if (title === 'parent') {
					var className = selectedTr.attr("class");
					var classList = className.split(' ');
					var parentName = classList[0].split('-');
					var parentID = parentName[1];
					var parentFullName = parentName[0] + '-parent-' + parentName[1];

					$('#accessRightTable > tbody > tr').each(function () {
						var className = $(this).attr("class");
						var classList = className.split(' ');
						if (classList.length > 1 && classList[1] === parentFullName) {
							$(this).find('td').each(function () {
								if ($("[type='checkbox']", this).val()) {
									var hide = $("[type='checkbox']", this);
									var name = hide.attr('name');

									if (name == privilegeName) {
										hide.prop('checked', isChecked);
									}
								}
							});
						}
					});

				} else {

					var className1 = selectedTr.attr("class");
					var classList1 = className1.split(' ');
					var parentName = classList1[1].split('-');
					var parentID = parentName[2];
					var parentFullName = 'treegrid-parent-' + parentID;
					var allChecked = true;

					if (isChecked) {
						$('#accessRightTable > tbody > tr').each(function () {
							var className = $(this).attr("class");
							var classList = className.split(' ');

							if (classList.length > 1 && classList[1] === parentFullName) {

								$(this).find('td').each(function () {
									if ($("[type='checkbox']", this).val()) {
										var hide = $("[type='checkbox']", this);
										var name = hide.attr('name');

										if (name == privilegeName) {
											if (hide.prop('checked') == false) {
												allChecked = false;
												return false;
											}
										}
									}
								});
							}

							if (!allChecked)
								return false;
						});
					}

					$('#accessRightTable > tbody > tr').each(function () {
						var className = $(this).attr("class");
						var classList = className.split(' ');
						var parentClass = 'treegrid-' + parentID;

						if (classList[0] == parentClass) {
							$(this).find('td').each(function () {
								if ($("[type='checkbox']", this).val()) {
									var tempTd = $("[type='checkbox']", this);
									parent = $("[type='checkbox']", this);
									var name = tempTd.attr('name');

									if (name == privilegeName) {
										if (isChecked) {
											tempTd.prop('checked', allChecked);
										} else {
											tempTd.prop('checked', false);
										}
										return false;
									}
								}
							});

							return false;
						}
					});
				}
			}
		});
	</script>
}