@model Fast.Web.Models.RoleModel
@using Fast.Web.Resources;
@section CSS_lib{
    <!-- Specific Page Vendor CSS -->
    <link href="~/Content/dashforge/lib/typicons.font/typicons.css" rel="stylesheet">
    <link href="~/Content/dashforge/lib/prismjs/themes/prism-vs.css" rel="stylesheet">
    <link href="~/Content/dashforge/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="~/Content/dashforge/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">

}
@section Styles{
}

<div class="content content-fixed bd-b">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h4 class="mg-b-5">@UIResources.RoleList</h4>
                <p class="mg-b-0 tx-color-03">@UIResources.RoleManagement</p>
            </div>
            <div class="mg-t-20 mg-sm-t-0">
                <div class="row">
                    <div id="buttonpdf" class="dtButton"></div>
                    <div id="buttonexcel" class="dtButton"></div>
                    <div id="buttonprint" class="dtButton"></div>
                    <button class="btn btn-primary btn-sm pd-x-15 btn-uppercase dtAddButton" data-toggle="modal" data-target="#modalAddRole">
                        <i data-feather="plus" class="mg-r-5"></i> @UIResources.NEW
                    </button>
                </div>
            </div>
        </div>

        <div data-label="Example" class="df-example demo-table dtMarginTop">
            <table class="table table-bordered table-striped mb-none border-bottom-0 table-fast" id="roleTable">
                <thead>
                    <tr>                        
                        <th>@UIResources.Name</th>                        
                        <th>@UIResources.Description</th>
                        <th>@UIResources.Action</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalAddRole" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
        @using (Html.BeginForm("Create", "Role", FormMethod.Post, new { @class = "form-horizontal", @id = "ModalForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="modal-content">
                <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
                    <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                    <div class="media align-items-center">
                        <span class="tx-color-03 d-none d-sm-block"><i data-feather="user-plus" class="wd-60 ht-60"></i></span>
                        <div class="media-body mg-sm-l-20">
                            <h4 class="tx-18 tx-sm-20 mg-b-2">@UIResources.AddNewRole</h4>
                            <p class="tx-13 tx-color-03 mg-b-0">@UIResources.FillAllRequiredFields</p>
                        </div>
                    </div><!-- media -->
                </div><!-- modal-header -->
				<div class="modal-body pd-sm-t-20 pd-sm-b-20 pd-sm-x-30">
					<div class="row row-sm mg-b-10">
						<div class="col-sm-6">
							<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.Name</label>
							@Html.TextBoxFor(x => x.Name, null, new { @class = "form-control", @id = "tbName" })
						</div>
						<div class="col-sm-6">
							<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03">@UIResources.Description</label>
							@Html.TextBoxFor(x => x.Description, null, new { @class = "form-control", @id = "tbDescription" })
						</div>
					</div>
				</div><!-- modal-body -->
                <div class="modal-footer pd-x-20 pd-y-15">
                    <button type="button" class="btn btn-white" data-dismiss="modal">@UIResources.Cancel</button>
                    <button type="submit" class="btn btn-primary">@UIResources.Save</button>
                </div>
            </div><!-- modal-content -->
        }
    </div><!-- modal-dialog -->
</div><!-- modal -->

<div class="modal fade" id="modalEditRole" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
        <div class="modal-content" id="OpenDialog">
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
        <div class="modal-content">
            <div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
                <a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>
                <div class="media align-items-center">
                    <span class="tx-color-03 d-none d-sm-block"><i data-feather="x-circle" class="wd-60 ht-60"></i></span>
                    <div class="media-body mg-sm-l-20">
                        <h4 class="tx-18 tx-sm-20 mg-b-2">@UIResources.Confirmation</h4>
                    </div>
                </div><!-- media -->
            </div><!-- modal-header -->
            <div class="modal-body">
                <div class="form-group">
                    <label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03" id="deleteconfirm"></label>
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer pd-x-20 pd-y-15">
                <button type="button" class="btn btn-white" data-dismiss="modal" id="modal-btn-cancel">@UIResources.NO</button>
                <button type="submit" class="btn btn-primary" id="modal-btn-ok">@UIResources.YES</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->

@section Scripts{
    <!-- Specific Page Vendor -->
    <script src="~/Content/dashforge/lib/prismjs/prism.js"></script>
    <script src="~/Content/dashforge/lib/moment/min/moment-with-locales.min.js"></script>
    <script src="~/Content/dashforge/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/dashforge/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="~/Content/dashforge/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/dashforge/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
		var table = $('#roleTable').dataTable({
			"autoWidth": false,
            "processing": true,
            "serverSide": true,
            "filter": true,
            "orderMulti": false,
			"pageLength": 10,
            "ajax": {
                "url": fastApp.BaseUrl + "/Role/GetAll",
                "type": "POST",
                "datatype": "json"
            },

            "columnDefs":
				[
				{
                    "targets": [0],
                    "searchable": true,
					"orderable": true
                },
                {
                    "targets": [1],
                    "searchable": true,
					"orderable": true
                },
                {
                    "targets": [2],
                    "searchable": false,
                    "orderable": false
                }
                ],

            "columns": [				
				{ "data": "Name", "name": "Name", "autoWidth": true },				
				{ "data": "Description", "name": "Description", "autoWidth": true },
                {
					"render": function (data, type, full, meta) {
						return '<button class="btn-menu btn-default" onclick="RenderActions(\'' + full['Name'] + '\')" data-toggle="modal" data-target="#modalEditRole" title="Edit"><i class="fa fa-edit"></i></button>'+
							   '<button class="btn-menu btn-default" onclick="Delete(\'' + full['Name'] + '\')" title="Delete"><i class="fa fa-trash-alt"></i></button>';
					}
                }
			]
		});

		var buttons = new $.fn.dataTable.Buttons(table, {
			buttons: [
				{
					"text": '<i class="fa fa-lg fa-file-pdf"></i> PDF',
					"extend": 'pdf',
					"className": 'btn btn-sm pd-x-15 btn-white btn-uppercase',
					"title": 'Master Role List',
					"extension": '.pdf',
					"exportOptions": {
						columns: [0, 1, 2]
					},
					"customize": function (doc) {
						doc.content[1].table.widths = 
							Array(doc.content[1].table.body[0].length + 1).join('*').split('');
					}
				}
			]
		}).container().appendTo($('#buttonpdf'));

		var buttons1 = new $.fn.dataTable.Buttons(table, {
			buttons: [
				{
					"text": '<i class="fa fa-lg fa-file-excel"></i> Excel',
					"extend": 'excel',
					"className": 'btn btn-sm pd-x-15 btn-white btn-uppercase',
					"title": 'Master Role List',
					"extension": '.xlsx',
					"exportOptions": {
						columns: [0, 1, 2]
					}
				}
			]
		}).container().appendTo($('#buttonexcel'));

		var buttons2 = new $.fn.dataTable.Buttons(table, {
			buttons: [
				{
					"text": '<i class="fa fa-lg fa-print"></i> Print',
					"extend": 'print',
					"title": 'Master Role List',
					"className": 'btn btn-sm pd-x-15 btn-white btn-uppercase',
					"exportOptions": {
						columns: [0, 1, 2]
					}
				}
			]
		}).container().appendTo($('#buttonprint'));
    });


	function RenderActions(roleName) {
		$("#OpenDialog").load(fastApp.BaseUrl + "/Role/Edit/" + roleName);
	};

	var Delete = function (name) {
		$("#deleteconfirm").empty();
		$("#deleteconfirm").append("@UIResources.DeleteConfirmation");
		$("#deleteconfirm").append($('<span>').css('color', 'Red').text(name));
		$("#deleteconfirm").append(" ?");
        $("#deleteModal").modal('show');
        $("#modal-btn-ok").unbind().one("click", function () {
            $("#deleteModal").modal('hide');
            DeleteRole(name);
        });
    }

	var stack_bottomright = { "dir1": "up", "dir2": "left", "firstpos1": 15, "firstpos2": 15 };

    function DeleteRole(name) {
        $.ajax({
            url: fastApp.BaseUrl + '/Role/Delete?name=' + name,
            type: 'POST',
            success: function (result) {
				if (result.Status) {
					var notice = new PNotify({
						title: "@UIResources.Confirmation",
						text: "@UIResources.DeleteSucceed",
						width: "400px",
						type: 'success',
						addclass: 'stack-bottomright',
						stack: stack_bottomright
					});

					notice.get().click(function () {
						notice.remove();
					});
				}
				else {
					var notice = new PNotify({
						title: "@UIResources.ErrorMessage",
						text: "@UIResources.DeleteFailed",
						width: "400px",
						type: 'error',
						hide: false,
						addclass: 'stack-bottomright',
						buttons: {
							sticker: false
						}
					});

					notice.get().click(function () {
							notice.remove();
						});
					}
			},
			complete: function (data) {
				setTimeout(function () {
					location.reload();
				}, 1000);
			}
        });
    }
    </script>
}

