@model Fast.Web.Models.WppStpModel
@using Fast.Web.Resources;

@section CSS_lib{
	<!-- Specific Page Vendor CSS -->
	<link href="~/Content/dashforge/lib/typicons.font/typicons.css" rel="stylesheet">
	<link href="~/Content/dashforge/lib/prismjs/themes/prism-vs.css" rel="stylesheet">
	<link href="~/Content/dashforge/lib/datatables.net-dt/css/jquery.dataTables.min.css" rel="stylesheet">
	<link href="~/Content/dashforge/lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css" rel="stylesheet">
}


@section Styles{
	<style>
		.dataTables_scrollHead table, .dataTables_scrollBody table {
			width: 2000px !important;
		}
	</style>
}

<div class="modal fade" id="modalUploadWpp" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			@using (Html.BeginForm("Index", "Wpp", FormMethod.Post, new { encType = "multipart/form-data", @id = "UploadForm" }))
			{
				@Html.AntiForgeryToken()
				<div class="modal-header pd-y-20 pd-x-20 pd-sm-x-50">
					<div class="media align-items-center">
						<span class="tx-color-03 d-none d-sm-block"><i data-feather="share" class="wd-60 ht-60"></i></span>
						<div class="media-body mg-sm-l-20">
							<h4 class="tx-18 tx-sm-20 mg-b-2">@UIResources.Upload</h4>
							<p class="tx-13 tx-color-03 mg-b-0">@UIResources.WeeklyProductionPlan</p>
						</div>
					</div><!-- media -->
				</div><!-- modal-header -->
				<div class="modal-body pd-sm-t-30 pd-sm-b-40 pd-sm-x-30">
					<div class="form-group ">
						<div class="row row-sm mg-b-10">
							<div class="col-4" id="labelSubDepartment">
								<label class="col-form-label mg-b-5 tx-color-03">@UIResources.ProductionCenter</label>
							</div>
							<div class="col-8" id="inputSubDepartment">
								@Html.DropDownListFor(x => x.ProdCenterID, (IEnumerable<SelectListItem>)ViewBag.ProductionCenterList, new { @class = "form-control", @id = "ddlProductionCenter" })
							</div>
						</div>
						<div class="row row-sm mg-b-10">
							<div class="col-sm-4">
								<label class="col-form-label mg-b-5 tx-color-03">Start Week Date</label>
							</div>
							<div class="col-md-8">
								@Html.TextBoxFor(x => x.StartDate, "{0:dd-MMM-yy}", new { @class = "form-control hasDatepicker", @id = "tbStartDate", @required = "required", @autocomplete = "off" })
							</div>
						</div>
						<div class="row row-sm mg-b-10">
							<div class="col-5">
								<label class="col-form-label mg-b-5 tx-color-03">Goods Type</label>
							</div>
							<div class="row col-7 mg-b-5 mg-t-10">
								<div class="col-6 custom-control custom-radio">
									@Html.RadioButtonFor(x => x.GoodsType, "Finish", new { @class = "custom-control-input", @id = "rbFinish", @checked = "checked" })
									<label class="custom-control-label" for="rbFinish">Finish</label>
								</div>
								<div class="col-6 custom-control custom-radio">
									@Html.RadioButtonFor(x => x.GoodsType, "Semi", new { @class = "custom-control-input", @id = "rbSemi" })
									<label class="custom-control-label" for="rbSemi">Semi Finish</label>
								</div>
							</div>
						</div>
						<div class="form-control-static">
							<span class="btn btn-success fileinput-button btn-block">
								@Html.TextBoxFor(x => x.PostedFilename, null, new { @type = "file", @accept = ".xls, .xlsx", @required = "required", @id = "customFile" })
							</span>
						</div>
					</div>
					<div class="progress" id="loadingbar" style="height: 30px;">
						<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">Please wait a few seconds...</div>
					</div>
				</div>
				<div class="modal-footer pd-x-20 pd-y-15">
					<button type="button" class="btn btn-white" data-dismiss="modal" id="btnCancel">@UIResources.Cancel</button>
					<button type="button" class="btn btn-primary" onclick="OnSubmit()" id="btnSubmit">@UIResources.Upload</button>
				</div>
			}
		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->

<div class="content content-fixed bd-b">
	<div class="container-fluid pd-x-0 pd-lg-x-10 pd-xl-x-0">
		<div class="d-sm-flex align-items-center justify-content-between">
			<div>
				<h4 class="mg-b-5">@UIResources.WppList</h4>
				<p class="mg-b-0 tx-color-03">@UIResources.WppDataManagement</p>
			</div>
			<div class="mg-t-20 mg-sm-t-0">
                <div class="row">
                    @if (Model.Access.IsAdmin || Model.Access.hasPrint)
                    {
                        <button class="btn btn-primary btn-sm pd-x-15 btn-uppercase dtAddButton" onclick="location.href='@Url.Action("Index", "WppPO")'">
                            <i data-feather="layers" class="mg-r-5"></i> PO Number
                        </button>
                    }
                    @if (Model.Access.hasPrint)
                    {
                        <button class="btn btn-outline-secondary btn-sm pd-x-15 btn-uppercase dtAddButton" onclick="GenerateExcelView()">
                            <span><i class="fa fa-lg fa-file-excel"></i> EXCEL</span>
                        </button>
                        <button class="btn btn-outline-secondary btn-sm pd-x-15 btn-uppercase dtAddButton" onclick="GenerateExcel()">
                            <i data-feather="download" class="mg-r-5"></i> Download
                        </button>
                    }

                    @if (Model.Access.hasWrite)
                    {
                        <button class="btn btn-primary btn-sm pd-x-15 btn-uppercase dtAddButton" data-toggle="modal" data-target="#modalUploadWpp">
                            <i data-feather="share" class="mg-r-5"></i> @UIResources.Upload
                        </button>
                        <button class="btn btn-primary btn-sm pd-x-15 btn-uppercase dtAddButton" onclick="location.href='@Url.Action("DownloadTemplate", "Wpp")'">
                            <i data-feather="download" class="mg-r-5"></i> @UIResources.Template
                        </button>
                    }
                </div>
			</div>
		</div><!-- End content header -->
		<br />

		<div data-label="Filter" class="df-example demo-table dtMarginTop">
			<div class="row">
				<div class="col-sm-1">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.Country</label>
				</div>
				<div class="col-sm-2">
					@Html.DropDownListFor(x => x.CountryID, (IEnumerable<SelectListItem>)ViewBag.CountryList, new { @class = "form-control", @id = "ddlCountry1" })
				</div>
				<div class="col-sm-1">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">@UIResources.ProdCenter</label>
				</div>
				<div class="col-sm-2">
					@Html.DropDownListFor(x => x.ProdCenterID, (IEnumerable<SelectListItem>)ViewBag.ProductionCenterList, new { @class = "form-control", @id = "ddlProdCenter1" })
				</div>
				<div class="col-sm-1">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-t-10 tx-color-03">Date Range</label>
				</div>
				<div class="col-md-2"><input class="form-control hasDatepicker" id="startDate" type="text" placeholder="Start Date" autocomplete="off" /></div>
				<div class="col-md-2"><input class="form-control hasDatepicker" id="endDate" type="text" placeholder="End Date" autocomplete="off" /></div>
				<div class="col-sm-1">
					<button id="btnSearch" class="btn btn-sm pd-x-15 btn-primary btn-uppercase btn-block">Search</button>
				</div>
			</div>
		</div>

		<div data-label="Wpp Data" class="df-example demo-table dtMarginTop">
			<table class="table table-bordered table-striped mb-none border-bottom-0 table-fast" id="wppTable">
				<thead>
					<tr>
						<th>@UIResources.ID</th>
						<th>@UIResources.Date</th>
						<th>@UIResources.Location</th>
						<th>@UIResources.Brand</th>
						<th>@UIResources.Description</th>
						<th>Machine1</th>
						<th>Machine2</th>
						<th>@UIResources.Shift1</th>
						<th>@UIResources.Shift2</th>
						<th>@UIResources.Shift3</th>
						<th>@UIResources.PONumber</th>
						<th>@UIResources.Activity</th>
						<th>@UIResources.OPSNumber</th>
						<th>@UIResources.BatchSAP</th>
						<th>Market</th>
						<th>@UIResources.Action</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="modalEditWpp" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
		<div class="modal-content" id="OpenDialog">
		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered wd-sm-650" role="document">
		<div class="modal-content">
			<div class="modal-header pd-y-20 pd-x-20 pd-sm-x-30">
				<a href="" role="button" class="close pos-absolute t-15 r-15" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</a>
				<div class="media align-items-center">
					<span class="tx-color-03 d-none d-sm-block"><i data-feather="x-circle" class="wd-60 ht-60"></i></span>
					<div class="media-body mg-sm-l-20">
						<h4 class="tx-18 tx-sm-20 mg-b-2">@UIResources.Confirmation</h4>
					</div>
				</div><!-- media -->
			</div><!-- modal-header -->
			<div class="modal-body">
				<div class="form-group">
					<label class="tx-10 tx-uppercase tx-medium tx-spacing-1 mg-b-5 tx-color-03" id="deleteconfirm"></label>
				</div>
			</div><!-- modal-body -->
			<div class="modal-footer pd-x-20 pd-y-15">
				<button type="button" class="btn btn-white" data-dismiss="modal" id="modal-btn-cancel">@UIResources.NO</button>
				<button type="submit" class="btn btn-primary" id="modal-btn-ok">@UIResources.YES</button>
			</div>
		</div><!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- modal -->

@section Scripts{
	<!-- Specific Page Vendor -->
	<script src="~/Content/dashforge/lib/prismjs/prism.js"></script>
	<script src="~/Content/dashforge/lib/moment/min/moment-with-locales.min.js"></script>
	<script src="~/Content/dashforge/lib/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="~/Content/dashforge/lib/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
	<script src="~/Content/dashforge/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="~/Content/dashforge/lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js"></script>
	<style>
		.dataTables_scrollBody thead tr {
			visibility: collapse
		}
	</style>

	<script type="text/javascript">

		var locationId = 0;
		var locationType = 'productioncenter';

        $('#btnSearch').on('click', function () {
			var startDateFilter = $('#startDate').val();
			var endDateFilter = $('#endDate').val();

			if ($('#ddlProdCenter1').val() == '0') {
				locationId = $('#ddlCountry1').val();
				locationType = 'country';
			} else {
				locationId = $('#ddlProdCenter1').val();
				locationType = 'productioncenter';
			}

			var table1 = $('#wppTable').dataTable({
				"scrollX": true,
				"autoWidth": false,
				"processing": true,
				"serverSide": true,
				"filter": true,
				"orderMulti": false,
				"destroy": true,
				"pageLength": 10,
				"ajax": {
					"url": fastApp.BaseUrl + "/Wpp/GetAllWPPWithParam",
					"data": { startDateFilter, endDateFilter, locID: locationId, locType: locationType },
					"type": "POST",
					"datatype": "json"
				},

				"columnDefs":
					[{
						"targets": [0],
						"searchable": false,
						"visible": false,
						"orderable": false
					},
					{
						"targets": [1],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [2],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [3],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [4],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [5],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [6],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [7],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [8],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [9],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [10],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [11],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [12],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [13],
						"searchable": false,
						"orderable": false
                    },
					{
						"targets": [14],
						"searchable": false,
						"orderable": false
                    },
                    {
						"targets": [15],
						"searchable": false,
						"orderable": false
					}

					],

				"columns": [
					{ "data": "ID", "name": "ID", "autoWidth": false, "visible": false },
					{
						"data": "Date",
						render: function (data, type, row) {
							if (data)
								return moment(data).format("DD-MMM-YY");
							else
								return '';
						}
					},
					{ "data": "Location", "name": "Location", "autoWidth": true },
					{ "data": "Brand", "name": "Brand", "autoWidth": true },
					{ "data": "Description", "name": "Description", "autoWidth": true },
					{ "data": "Maker", "name": "Maker", "autoWidth": true },
					{ "data": "Packer", "name": "Packer", "autoWidth": true },
					{ "data": "Shift1", "name": "Shift1", "autoWidth": true },
					{ "data": "Shift2", "name": "Shift2", "autoWidth": true },
					{ "data": "Shift3", "name": "Shift3", "autoWidth": true },
					{ "data": "PONumber", "name": "PONumber", "autoWidth": true },
					{ "data": "Activity", "name": "Activity", "autoWidth": true },
					{ "data": "OPSNumber", "name": "OPSNumber", "autoWidth": true },
					{ "data": "BatchSAP", "name": "BatchSAP", "autoWidth": true },
					{ "data": "Others", "name": "Others", "autoWidth": true },
					{
						"render": function (data, type, full, meta) {
							if (@Model.Access.hasWriteStr) {
								return '<button class="btn-menu btn-default" onclick="RenderActions(\'' + full['ID'] + '\')" data-toggle="modal" data-target="#modalEditWpp" title="Edit"><i class="fa fa-edit"></i></button>' +
									'<button class="btn-menu btn-default" onclick="Delete(\'' + full['ID'] + '\')" title="Delete"><i class="fa fa-trash-alt"></i></button>';
							} else
								return '-';
						}
					}
				]
			});
        });

        $(document).ready(function () {
			$('#loadingbar').hide();

			$('#tbStartDate').datepicker({
				format: "dd-M-yy",
				daysOfWeekDisabled: "0,2,3,4,5,6"
			});

            $('.hasDatepicker').datepicker({
				format: 'd-M-yy',												
            });

			$('#ddlLinkUp').change(function () {
				if ($('#ddlLinkUp').val() == "0") {
					$("#idMachine").show();
				} else {
					$("#idMachine").hide();
				}
			});

			var table = $('#wppTable').dataTable({
				"scrollX": true,
				"autoWidth": false,
				"processing": true,
				"serverSide": true,
				"filter": true,
				"orderMulti": false,
                "pageLength": 50,
                "destroy": true,
				"ajax": {
					"url": fastApp.BaseUrl + "/Wpp/GetAll",
					"type": "POST",
					"datatype": "json"
				},

				"columnDefs":
					[{
						"targets": [0],
						"searchable": false,
						"visible": false,
						"orderable": false
					},
					{
						"targets": [1],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [2],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [3],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [4],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [5],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [6],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [7],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [8],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [9],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [10],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [11],
						"searchable": true,
						"orderable": true
					},
					{
						"targets": [12],
						"searchable": true,
						"orderable": true
                    },
					{
						"targets": [13],
						"searchable": false,
						"orderable": false
					},
                    {
						"targets": [14],
						"searchable": false,
						"orderable": false
                    },
                    {
						"targets": [15],
						"searchable": false,
						"orderable": false
					}
					],

				"columns": [
					{ "data": "ID", "name": "ID", "autoWidth": false, "visible": false },
					{
						"data": "Date",
						render: function (data, type, row) {
							if (data)
								return moment(data).format("DD-MMM-YY");
							else
								return '';
						}
					},
					{ "data": "Location", "name": "Location", "autoWidth": true },
					{ "data": "Brand", "name": "Brand", "autoWidth": true },
					{ "data": "Description", "name": "Description", "autoWidth": true },
					{ "data": "Maker", "name": "Maker", "autoWidth": true },
					{ "data": "Packer", "name": "Packer", "autoWidth": true },
					{ "data": "Shift1", "name": "Shift1", "autoWidth": true },
					{ "data": "Shift2", "name": "Shift2", "autoWidth": true },
					{ "data": "Shift3", "name": "Shift3", "autoWidth": true },
					{ "data": "PONumber", "name": "PONumber", "autoWidth": true },
					{ "data": "Activity", "name": "Activity", "autoWidth": true },
					{ "data": "OPSNumber", "name": "OPSNumber", "autoWidth": true },
					{ "data": "BatchSAP", "name": "BatchSAP", "autoWidth": true },
					{ "data": "Others", "name": "Others", "autoWidth": true },
				    {
						"render": function (data, type, full, meta) {
						if (@Model.Access.hasWriteStr) {
							return '<button class="btn-menu btn-default" onclick="RenderActions(\'' + full['ID'] + '\')" data-toggle="modal" data-target="#modalEditWpp" title="Edit"><i class="fa fa-edit"></i></button>'+
								   '<button class="btn-menu btn-default" onclick="Delete(\'' + full['ID'] + '\')" title="Delete"><i class="fa fa-trash-alt"></i></button>';
						} else
							return '-';
						}
					}
				]
			});

			$('#wppdate').datepicker({
				format: "dd-M-yy",
				changeMonth: true,
				changeYear: true
			});

			$('#wppdateedit').datepicker({
				format: "dd-M-yy",
				changeMonth: true,
				changeYear: true
			});

			var stack_bottomright = { "dir1": "up", "dir2": "left", "firstpos1": 15, "firstpos2": 15 };

			var result = "@ViewBag.Result";
			var error = "@ViewBag.ErrorMessage";
			var message = "@ViewBag.Message";

			if (result != "") {
				if (result == "True") {
					if (message == "") {
						var notice = new PNotify({
							title: "@UIResources.Confirmation",
							text: "@UIResources.CreateSucceed",
							width: "400px",
							type: 'success',
							addclass: 'stack-bottomright',
							stack: stack_bottomright,
							delay: 2000
						});
						notice.get().click(function () {
							notice.remove();
						});
					} else {
						var notice = new PNotify({
							title: "@UIResources.Confirmation",
							text: message,
							width: "400px",
							type: 'success',
							addclass: 'stack-bottomright',
							stack: stack_bottomright,
							delay: 2000
						});
						notice.get().click(function () {
							notice.remove();
						});
					}
				}
				else {
					if (error == "") {
						var notice = new PNotify({
							title: "@UIResources.ErrorMessage",
							text: "@UIResources.CreateFailed",
							width: "400px",
							type: 'error',
							addclass: 'stack-bottomright',
							delay: 2000
						});

						notice.get().click(function () {
							notice.remove();
						});
					}
					else {
						var notice = new PNotify({
							title: "@UIResources.ErrorMessage",
							text: error,
							width: "400px",
							type: 'error',
							addclass: 'stack-bottomright',
							delay: 2000
						});

						notice.get().click(function () {
							notice.remove();
						});
					}
				}
			}
		});

		$('#ddlCountry1').change(function () {
			$.ajax({
				type: "post",
				url: fastApp.BaseUrl + "/Wpp/GetProductionCenterByCountryID",
				data: { id: $('#ddlCountry1').val() },
				datatype: "json",
				traditional: true,
				success: function (data) {
					var ddlTemp = "<select id='ddlProdCenter1'>";
					for (var i = 0; i < data.length; i++) {
						ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
					}
					ddlTemp = ddlTemp + '</select>';
					$('#ddlProdCenter1').html(ddlTemp);
					$('#ddlDepartment1').html("<select id='ddlDepartment1'><option value='0'>- Please Select -</option></select>");
					$('#ddlSubDepartment1').html("<select id='ddlSubDepartment1'><option value='0'>- Please Select -</option></select>");
				}
			});
		});

		$('#ddlProdCenter1').change(function () {
			$.ajax({
				type: "post",
				url: fastApp.BaseUrl + "/Wpp/GetDepartmentByProdCenterID",
				data: { id: $('#ddlProdCenter1').val() },
				datatype: "json",
				traditional: true,
				success: function (data) {
					var ddlTemp = "<select id='ddlDepartment1'>";
					for (var i = 0; i < data.length; i++) {
						ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
					}
					ddlTemp = ddlTemp + '</select>';
					$('#ddlDepartment1').html(ddlTemp);
					$('#ddlSubDepartment1').html("<select id='ddlSubDepartment1'><option value='0'>- Please Select -</option></select>");
				}
			});
		});

		$('#ddlDepartment1').change(function () {
			$.ajax({
				type: "post",
				url: fastApp.BaseUrl + "/Wpp/GetSubDepartmentByDepartmentID",
				data: { id: $('#ddlDepartment1').val() },
				datatype: "json",
				traditional: true,
				success: function (data) {
					var ddlTemp = "<select id='ddlSubDepartment1'>";
					for (var i = 0; i < data.length; i++) {
						ddlTemp = ddlTemp + '<option value=' + data[i].Value + '>' + data[i].Text + '</option>';
					}
					ddlTemp = ddlTemp + '</select>';
					$('#ddlSubDepartment1').html(ddlTemp);
				}
			});
		});

		function RenderActions(id) {
			$("#OpenDialog").load(fastApp.BaseUrl + "/Wpp/Edit/" + id);
		};

		var Delete = function (ID) {
			$("#deleteconfirm").empty();
			$("#deleteconfirm").append("@UIResources.DeleteConfirmation");
			$("#deleteconfirm").append($('<span>').css('color', 'Red').text("@UIResources.TheSelectedData"));
			$("#deleteconfirm").append(" ?");
			$("#deleteModal").modal('show');
			$("#modal-btn-ok").unbind().one("click", function () {
				$("#deleteModal").modal('hide');
				DeleteWpp(ID);
			});
		}

		var stack_bottomright = { "dir1": "up", "dir2": "left", "firstpos1": 15, "firstpos2": 15 };

		function DeleteWpp(Id) {
			$.ajax({
				url: fastApp.BaseUrl + '/Wpp/Delete?id=' + Id,
				type: 'POST',
				success: function (result) {
					if (result.Status) {
						var notice = new PNotify({
							title: "@UIResources.Confirmation",
							text: "@UIResources.DeleteSucceed",
							width: "400px",
							type: 'success',
							addclass: 'stack-bottomright',
							stack: stack_bottomright,
							delay: 2000
						});

						notice.get().click(function () {
							notice.remove();
						});
					}
					else {
						var notice = new PNotify({
							title: "@UIResources.ErrorMessage",
							text: "@UIResources.DeleteFailed",
							width: "400px",
							type: 'error',
							addclass: 'stack-bottomright',
							delay: 2000
						});

						notice.get().click(function () {
								notice.remove();
							});
						}
				},
				complete: function (data) {
					setTimeout(function () {
						location.reload();
					}, 1000);
				}
			});
		}

		function OnSubmit() {
			console.log($('input[type=file]')[0].files.length)

			if ($('#ddlProductionCenter').val() == '0') {
				alert('Select production center first');
				return false;
			}

			if ($('#tbStartDate').val() == '') {
				alert('Select start date first');
				return false;
			}

			if ($('input[type=file]')[0].files.length == 0) {
				alert('Choose file first');
				return false;
			}

			$('#loadingbar').show();
			$("#btnSubmit").attr("disabled", true);
			$("#btnCancel").attr("disabled", true);

			document.getElementById('UploadForm').submit();
			return (true);
        }

		function GenerateExcel() {
			var notice = new PNotify({
				title: "Generating Excel file",
				text: "Please wait a few seconds....",
				addclass: 'stack-bottomright',
				width: "400px",
				type: 'success',
				stack: stack_bottomright,
			});

			notice.get().click(function () {
				notice.remove();
			});

			if ($('#ddlProdCenter1').val() == '0') {
				locationId = $('#ddlCountry1').val();
				locationType = 'country';
			} else {
				locationId = $('#ddlProdCenter1').val();
				locationType = 'productioncenter';
			}

			var startDateFilter = $('#startDate').val();
			var endDateFilter = $('#endDate').val();

			location.href = '@Url.Action("ExportExcel", "WPP")?startDate=' +  startDateFilter + '&endDate=' +  endDateFilter + '&locID=' + locationId + '&locType=' + locationType;
		}

		function GenerateExcelView() {
			var notice = new PNotify({
				title: "Generating Excel file",
				text: "Please wait a few seconds....",
				addclass: 'stack-bottomright',
				width: "400px",
				type: 'success',
				stack: stack_bottomright,
			});

			notice.get().click(function () {
				notice.remove();
			});

			if ($('#ddlProdCenter1').val() == '0') {
				locationId = $('#ddlCountry1').val();
				locationType = 'country';
			} else {
				locationId = $('#ddlProdCenter1').val();
				locationType = 'productioncenter';
			}

			var startDateFilter = $('#startDate').val();
			var endDateFilter = $('#endDate').val();

			location.href = '@Url.Action("ExportExcelView", "WPP")?startDate=' +  startDateFilter + '&endDate=' +  endDateFilter + '&locID=' + locationId + '&locType=' + locationType;
		}
	</script>
}
